In [1]:
import pandas as pd
import numpy as np
import re
import math
import tabula
import camelot
import pdfminer
from pdfminer.pdfinterp import PDFResourceManager, PDFPageInterpreter
from pdfminer.converter import TextConverter
from pdfminer.layout import LAParams
from pdfminer.pdfpage import PDFPage
try:
    from cStringIO import StringIO
except ImportError:
    from io import StringIO 
import matplotlib.pyplot as plt

In [3]:
f = r'C:\Users\rites\Desktop\pdf_to_excel-master\Axis_new\files\axis03.pdf'
tables=camelot.read_pdf(f,flavor='stream' ,pages = "all",edge_tol=500)

In [71]:
df = pd.DataFrame; tmp = pd.DataFrame;

In [72]:
tables

In [82]:
tmp = tables[3].df
tmp

,0,1,2,3,4,5,6,7
0,,,,,,,,CENTRALISED CTS MUM
1,20-11-2018,20-11-2018,NACH-DR- NEOGROWTH CREDIT PVT,,55834.00,DR,399813.23,MH
2,,,,,,,,RETAIL ASSET
3,20-11-2018,20-11-2018,BPR086102781710_EMI_20-11-2018,,36152.00,DR,363661.23,MANAGEMENT GR-RAM
4,20-11-2018,20-11-2018,NEFT/N324180169696088/LENDINGKART,,576.90,CR,364238.13,RTGS HUB
...,...,...,...,...,...,...,...,...
66,04-12-2018,04-12-2018,IMPS/P2A/833822353058/910020037211732/041218,,33505.90,CR,1197823.53,"POWAI, MUMBAI [MH]"
67,04-12-2018,04-12-2018,IMPS/P2A/833823365648/007863700000481YESB0000078,,33205.90,DR,1164617.63,"POWAI, MUMBAI [MH]"
68,,,,,,,,CENTRALISED CTS MUM
69,05-12-2018,05-12-2018,NACH-DR- EDELWEISSRETAILFINLT,,54981.00,DR,1109636.63,MH
70,05-12-2018,05-12-2018,INB/623580580/ADANI ELECTRICITY (BILLDESK)/NA,,8800.00,DR,1100836.63,"POWAI, MUMBAI [MH]"

In [5]:
tmp = tables[].df
try:
    idx=[ c for c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('date').any(), axis=1) ==True].index ][0]
    tmp.columns=tmp.iloc[idx]
except:
    try:
        idx=[ c for c in dt[dt.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in dt[dt.apply(lambda row: row.astype(str).str.lower().str.contains('particular').any(), axis=1) ==True].index ][0]
        tmp.columns=tmp.iloc[idx]
    except:
        print("\nAxis-Column headers missing")
# tmp.shape[1]
# tmp=pd.DataFrame(tmp.T.drop_duplicates().T).replace(r'^\s*$', np.nan, regex=True)

In [6]:
tmp.columns

Index(['Tran Date', 'Value Date', 'Transaction Particulars', 'Chq No',
       'Amount(INR)', 'DR/CR', 'Balance(INR)', 'Branch Name'],
      dtype='object', name=2)

In [7]:
if len(tmp.columns) == 8:
    print("true")

true

In [8]:
if (tmp.shape[1] == 6):
    tmp[6] = np.nan
    tmp = tmp[[0,6,1,2,3,4,5]]
    tmp.columns = range(tmp.shape[1])

In [9]:
tmp.head()

2,Tran Date,Value Date,Transaction Particulars,Chq No,Amount(INR),DR/CR,Balance(INR),Branch Name
0,PIN400076,,,,,,,Currency :INR
1,,,,Statement of Axis Account No :910020037211732 ...,,,,
2,Tran Date,Value Date,Transaction Particulars,Chq No,Amount(INR),DR/CR,Balance(INR),Branch Name
3,,,OPENING BALANCE,,,,309677.68,
4,01-11-2017,01-11-2017,NEFT/171101076GN00206/FLIPKART INTERNET P LTD ...,,1158.38,CR,310836.06,RTGS HUB

In [152]:
def came(f):
    tables = camelot.read_pdf(f, flavor='stream', pages='1,2', edge_til=500)
    if len(tables) != 0:
        dt=pd.DataFrame(); tmp=pd.DataFrame()
        first_check = tables[0].df; second_check = tables[1].df;
        print(first_check.shape[1])
        print(second_check.shape[1])
        if (first_check.shape[1] > 5):
            try:
                idx=[ c for c in first_check[first_check.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in first_check[first_check.apply(lambda row: row.astype(str).str.lower().str.contains('date').any(), axis=1) ==True].index ][0]
                first_check.columns=first_check.iloc[idx]
            except:
                try:
                    idx=[ c for c in first_check[first_check.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in dt[dt.apply(lambda row: row.astype(str).str.lower().str.contains('particular').any(), axis=1) ==True].index ][0]
                    first_check.columns=first_check.iloc[idx]
                except:
                    print("\nAxis-Column headers missing")
            tables2 = camelot.read_pdf(f, flavor='stream', pages='all', edge_til=500)
            print("\nlength of first_check:",len(first_check.columns))
            if len(first_check.columns) == 7:
                print("Column length is 7")
                for i in range(len(tables2)):
                    tmp=tables2[i].df
                    if (tmp.shape[1] < 5):
                        print("\nDiiferent structure on page:",i); pass
                    elif (tmp.shape[1] == 7):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    elif (tmp.shape[1] == 6):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        tmp[6] = np.nan; tmp = tmp[[0,6,1,2,3,4,5]]; tmp.columns = range(tmp.shape[1]);
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    else:
                        print("\nAnother Structure on page:",i); pass

            elif len(first_check.columns) == 8:
                print("Column length is 8")
                for i in range(len(tables2)):
                    tmp=tables2[i].df   
                    if (tmp.shape[1] < 5):
                        print("\nDiiferent structure on page:",i); pass
                    elif (tmp.shape[1] == 8):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    elif (tmp.shape[1] == 7):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        tmp[7] = np.nan; tmp = tmp[[0,1,2,7,3,4,5,6]]; tmp.columns = range(tmp.shape[1]);
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    else:
                        print("\nAnother Structure on page:",i); pass
            elif len(first_check.columns) > 8:
                print("Column length greater than 8")
                for i in range(len(tables2)):
                    print(tmp.shape[1])
                    if (tmp.shape[1] > 8):
                        try:
                            idx=[ c for c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('date').any(), axis=1) ==True].index ][0]
                            tmp.columns=tmp.iloc[idx] ; tmp=tmp.iloc[idx:,:] ; tmp.reset_index(drop=True,inplace=True)
                        except:
                            try:
                                idx=[ c for c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('particular').any(), axis=1) ==True].index ][0]
                                tmp.columns=tmp.iloc[idx] ; tmp=tmp.iloc[idx:,:] ; tmp.reset_index(drop=True,inplace=True)           
                            except:
                                print("\nAxis-Column headers missing"); pass
                        tmp.drop("",axis = 1,inplace = True)
                        tmp.columns = [0,1,2,3,4,5,6,7]
                        dt=pd.concat([dt,tmp]).drop_duplicates().reset_index(drop=True)
                    elif (tmp.shape[1] == 8):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    elif (tmp.shape[1] == 7):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        tmp[7] = np.nan; tmp = tmp[[0,1,2,7,3,4,5,6]]; tmp.columns = range(tmp.shape[1]);
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    elif (tmp.shape[1] == 6):
                        try:
                            idx=[ c for c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('date').any(), axis=1) ==True].index ][0]
                        except:
                            try:
                                idx=[ c for c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('particular').any(), axis=1) ==True].index ][0]
                            except:
                                print("\nAxis-Column headers missing")
                        tmp.columns=tmp.iloc[idx] ; tmp=tmp.iloc[idx+1:,:] ; tmp.reset_index(drop=True,inplace=True) 
                        tmp=tmp[~tmp.index.isin(tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('page:|account status|total|reason for return|inward clg|opening balance|statement of a/c').any(), axis=1) ==True].index)]
                        if tmp.columns[0] == 'Tran Date\nValue Date\nTransaction Particulars':
                            tmp.columns = ["A","B","C","D","E","F"]
                            tmp.reset_index(drop = True, inplace=True)
                            tmp1 = pd.DataFrame(tmp.A.str.split('\n',2).tolist(),columns=["Z1", "Z2", "Z3"])
                            result = pd.concat([tmp1, tmp], axis=1, sort=False)
                            result.drop('A' ,axis=1, inplace=True)
                            result["Y"] = result["Z1"]
                            for i,j in enumerate(result["Y"]):
                                if re.search(r'(\d+-\d+-\d+)',j):
                                    result.at[i, 'Y'] = ""
                                    pass
                                elif re.search(r'^\s*$',j):
                                    result.at[i, 'Y'] = ""
                                    pass
                                else:
                                    pass
                                    
                            for i,j in enumerate(result["Z1"]):
                                if re.search(r'(\d+-\d+-\d+)',j):
                                    pass
                                elif re.search(r'^\s*$',j):
                                    result.at[i, 'Z1'] = ""
                                    pass
                                else:
                                    result.at[i, 'Z1'] = ""
                                    pass 
                            result.fillna(value=pd.np.nan, inplace=True)
                            result['X'] = result['Z3'].fillna('') + result['Y'].fillna('')
                            result.drop(['Z3','Y'] ,axis=1, inplace=True)
                            result = result[['Z1', 'Z2', 'X', 'B', 'C','D','E','F']]
                            result.columns = [0,1,2,3,4,5,6,7]
                            dt=pd.concat([dt,result]).drop_duplicates().reset_index(drop=True)
                        else:
                            print("\nIn without box pdf another Structure on page:",i); pass

        elif(second_check.shape[1] > 5):
            try:
                idx=[ c for c in second_check[second_check.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in second_check[second_check.apply(lambda row: row.astype(str).str.lower().str.contains('date').any(), axis=1) ==True].index ][0]
                second_check.columns=second_check.iloc[idx]
            except:
                try:
                    idx=[ c for c in second_check[second_check.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in dt[dt.apply(lambda row: row.astype(str).str.lower().str.contains('particular').any(), axis=1) ==True].index ][0]
                    second_check.columns=second_check.iloc[idx]
                except:
                    print("\nAxis-Column headers missing")
            tables2 = camelot.read_pdf(f, flavor='stream', pages='all', edge_til=500)
            if len(second_check.columns) == 7:
                print("Column length is 7")
                for i in range(len(tables2)):
                    tmp=tables2[i].df
                    if (tmp.shape[1] < 5):
                        print("\nDiiferent structure on page:",i); pass
                    elif (tmp.shape[1] == 7):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    elif (tmp.shape[1] == 6):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        tmp[6] = np.nan; tmp = tmp[[0,6,1,2,3,4,5]]; tmp.columns = range(tmp.shape[1]);
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    else:
                        print("\nAnother Structure on page:",i); pass

            elif len(second_check.columns) == 8:
                print("Column length is 8")
                for i in range(len(tables2)):
                    print("\n",i,":",tmp.shape[1])
                    tmp=tables2[i].df
                    if (tmp.shape[1] < 5):
                        print("\nDiiferent structure on page:",i); pass
                    elif (tmp.shape[1] == 8):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    elif (tmp.shape[1] == 7):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        tmp[7] = np.nan; tmp = tmp[[0,1,2,7,3,4,5,6]]; tmp.columns = range(tmp.shape[1]);
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    else:
                        print("\nAnother Structure on page:",i); pass

    else:
        print("\nLength of table is 0"); pass   
    
    return dt

f = r'C:\Users\MudraCircle\Desktop\bks_raw\Parsing_testing\Axis\files\axis02.pdf'
output = came(f)
output.to_csv("output.csv", index=0)
output

8
7

length of first_check: 8
Column length is 8

Diiferent structure on page: 30

,0,1,2,3,4,5,6,7
0,PIN400076,NaN,NaN,NaN,NaN,NaN,NaN,Currency :INR
1,NaN,NaN,NaN,Statement of Axis Account No :910020037211732 ...,NaN,NaN,NaN,NaN
2,Tran Date,Value Date,Transaction Particulars,Chq No,Amount(INR),DR/CR,Balance(INR),Branch Name
3,NaN,NaN,OPENING BALANCE,NaN,NaN,NaN,309677.68,NaN
4,01-11-2017,01-11-2017,NEFT/171101076GN00206/FLIPKART INTERNET P LTD ...,NaN,1158.38,CR,310836.06,RTGS HUB
...,...,...,...,...,...,...,...,...
1673,31-10-2018,31-10-2018,IMPS/P2A/830412412196/919768667157/ATOMNETBANKIN,NaN,145000.00,CR,555297.47,"POWAI, MUMBAI [MH]"
1674,31-10-2018,31-10-2018,NEFT/N304180163207887/LENDINGKART,NaN,6730.70,CR,562028.17,DATA CENTRE-CHEMBUR
1675,31-10-2018,31-10-2018,NEFT/N304180163208334/LENDINGKART,NaN,178.89,CR,562207.06,RTGS HUB
1676,NaN,NaN,TRANSACTION TOTAL DR/CR,NaN,47314531.11/47567060.49,NaN,NaN,NaN
1677,NaN,NaN,CLOSING BALANCE,NaN,NaN,NaN,562207.06,NaN

# ******************************

In [5]:
def came(f):
    tables = camelot.read_pdf(f, flavor='stream', pages='1,2', edge_til=500)
    if len(tables) != 0:
        dt=pd.DataFrame(); tmp=pd.DataFrame()
        first_check = tables[0].df; second_check = tables[1].df;
        print(first_check.shape[1])
        print(second_check.shape[1])
        if (first_check.shape[1] > 5):
            try:
                idx=[ c for c in first_check[first_check.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in first_check[first_check.apply(lambda row: row.astype(str).str.lower().str.contains('date').any(), axis=1) ==True].index ][0]
                first_check.columns=first_check.iloc[idx]
            except:
                try:
                    idx=[ c for c in first_check[first_check.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in dt[dt.apply(lambda row: row.astype(str).str.lower().str.contains('particular').any(), axis=1) ==True].index ][0]
                    first_check.columns=first_check.iloc[idx]
                except:
                    print("\nAxis-Column headers missing")
            tables2 = camelot.read_pdf(f, flavor='stream', pages='all', edge_til=500)
            print("\nlength of first_check:",len(first_check.columns))
            if len(first_check.columns) == 7:
                print("Column length is 7")
                for i in range(len(tables2)):
                    tmp=tables2[i].df
                    if (tmp.shape[1] < 5):
                        print("\nDiiferent structure on page:",i); pass
                    elif (tmp.shape[1] == 7):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    elif (tmp.shape[1] == 6):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        tmp[6] = np.nan; tmp = tmp[[0,6,1,2,3,4,5]]; tmp.columns = range(tmp.shape[1]);
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    else:
                        print("\nAnother Structure on page:",i); pass

            elif len(first_check.columns) == 8:
                print("Column length is 8")
                for i in range(len(tables2)):
                    tmp=tables2[i].df   
                    if (tmp.shape[1] < 5):
                        print("\nDiiferent structure on page:",i); pass
                    elif (tmp.shape[1] == 8):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    elif (tmp.shape[1] == 7):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        tmp[7] = np.nan; tmp = tmp[[0,1,2,7,3,4,5,6]]; tmp.columns = range(tmp.shape[1]);
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    else:
                        print("\nAnother Structure on page:",i); pass
            elif len(first_check.columns) > 8:
                print("Column length greater than 8")
                for i in range(len(tables2)):
                    tmp=tables2[i].df 
                    print("////////////////////////////////////////////////////////////////////////////////////////////")
                    print("\n",tmp.shape[1])
                    print("////////////////////////////////////////////////////////////////////////////////////////////")
                    if (tmp.shape[1] > 8):
                        try:
                            idx=[ c for c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('date').any(), axis=1) ==True].index ][0]
                            tmp.columns=tmp.iloc[idx] ; tmp=tmp.iloc[idx:,:] ; tmp.reset_index(drop=True,inplace=True)
                        except:
                            try:
                                idx=[ c for c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('particular').any(), axis=1) ==True].index ][0]
                                tmp.columns=tmp.iloc[idx] ; tmp=tmp.iloc[idx:,:] ; tmp.reset_index(drop=True,inplace=True)           
                            except:
                                print("\nAxis-Column headers missing"); pass
                        tmp.drop("",axis = 1,inplace = True)
                        tmp.columns = [0,1,2,3,4,5,6,7]
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        print("\n",tmp)
                        dt=pd.concat([dt,tmp]).drop_duplicates().reset_index(drop=True)
                    elif (tmp.shape[1] == 8):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        print("\n",tmp)
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    elif (tmp.shape[1] == 7):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        tmp[7] = np.nan; tmp = tmp[[0,1,2,7,3,4,5,6]]; tmp.columns = range(tmp.shape[1]);
                        print("\n",tmp)
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    elif (tmp.shape[1] == 6):
                        try:
                            idx=[ c for c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('date').any(), axis=1) ==True].index ][0]
                        except:
                            try:
                                idx=[ c for c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('particular').any(), axis=1) ==True].index ][0]
                            except:
                                print("\nAxis-Column headers missing")
                        tmp.columns=tmp.iloc[idx] ; tmp=tmp.iloc[idx+1:,:] ; tmp.reset_index(drop=True,inplace=True) 
                        tmp=tmp[~tmp.index.isin(tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('page:|account status|total|reason for return|inward clg|opening balance|statement of a/c').any(), axis=1) ==True].index)]
                        if tmp.columns[0] == 'Tran Date\nValue Date\nTransaction Particulars':
                            tmp.columns = ["A","B","C","D","E","F"]
                            tmp.reset_index(drop = True, inplace=True)
                            tmp1 = pd.DataFrame(tmp.A.str.split('\n',2).tolist(),columns=["Z1", "Z2", "Z3"])
                            result = pd.concat([tmp1, tmp], axis=1, sort=False)
                            result.drop('A' ,axis=1, inplace=True)
                            result["Y"] = result["Z1"]
                            for i,j in enumerate(result["Y"]):
                                if re.search(r'(\d+-\d+-\d+)',j):
                                    result.at[i, 'Y'] = ""
                                    pass
                                elif re.search(r'^\s*$',j):
                                    result.at[i, 'Y'] = ""
                                    pass
                                else:
                                    pass
                                    
                            for i,j in enumerate(result["Z1"]):
                                if re.search(r'(\d+-\d+-\d+)',j):
                                    pass
                                elif re.search(r'^\s*$',j):
                                    result.at[i, 'Z1'] = ""
                                    pass
                                else:
                                    result.at[i, 'Z1'] = ""
                                    pass 
                            result.fillna(value=pd.np.nan, inplace=True)
                            result['X'] = result['Z3'].fillna('') + result['Y'].fillna('')
                            result.drop(['Z3','Y'] ,axis=1, inplace=True)
                            result = result[['Z1', 'Z2', 'X', 'B', 'C','D','E','F']]
                            result.columns = [0,1,2,3,4,5,6,7]
                            result=pd.DataFrame(result).replace(r'^\s*$', np.nan, regex=True)
                            print("\n",result)
                            dt=pd.concat([dt,result]).drop_duplicates().reset_index(drop=True)
                        else:
                            print("\nIn without box pdf another Structure on page:",i); pass

        elif(second_check.shape[1] > 5):
            try:
                idx=[ c for c in second_check[second_check.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in second_check[second_check.apply(lambda row: row.astype(str).str.lower().str.contains('date').any(), axis=1) ==True].index ][0]
                second_check.columns=second_check.iloc[idx]
            except:
                try:
                    idx=[ c for c in second_check[second_check.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in dt[dt.apply(lambda row: row.astype(str).str.lower().str.contains('particular').any(), axis=1) ==True].index ][0]
                    second_check.columns=second_check.iloc[idx]
                except:
                    print("\nAxis-Column headers missing")
            tables2 = camelot.read_pdf(f, flavor='stream', pages='all', edge_til=500)
            if len(second_check.columns) == 7:
                print("Column length is 7")
                for i in range(len(tables2)):
                    tmp=tables2[i].df
                    if (tmp.shape[1] < 5):
                        print("\nDiiferent structure on page:",i); pass
                    elif (tmp.shape[1] == 7):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    elif (tmp.shape[1] == 6):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        tmp[6] = np.nan; tmp = tmp[[0,6,1,2,3,4,5]]; tmp.columns = range(tmp.shape[1]);
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    else:
                        print("\nAnother Structure on page:",i); pass

            elif len(second_check.columns) == 8:
                print("Column length is 8")
                for i in range(len(tables2)):
                    print("\n",i,":",tmp.shape[1])
                    tmp=tables2[i].df
                    if (tmp.shape[1] < 5):
                        print("\nDiiferent structure on page:",i); pass
                    elif (tmp.shape[1] == 8):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    elif (tmp.shape[1] == 7):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        tmp[7] = np.nan; tmp = tmp[[0,1,2,7,3,4,5,6]]; tmp.columns = range(tmp.shape[1]);
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    else:
                        print("\nAnother Structure on page:",i); pass

    else:
        print("\nLength of table is 0"); pass   
    
    return dt

f = r'C:\Users\rites\Desktop\pdf_to_excel-master\Axis_new\files\axis03.pdf'
output = came(f)
output.to_csv("output02.csv", index=0)
output

9
8

length of first_check: 9
Column length greater than 8
////////////////////////////////////////////////////////////////////////////////////////////

 9
////////////////////////////////////////////////////////////////////////////////////////////

              0           1                                                 2  \
0    Tran Date  Value Date                           Transaction Particulars
1                                                          OPENING BALANCE :
2
3   03-12-2018  03-12-2018                 EDC/00049-00051-/M037011032984700
4
5
6   06-12-2018  06-12-2018             ECOM PUR/PTM*PAYTM/NOIDA/061218/09:18
7
8
9   07-12-2018  07-12-2018  IMPS/P2A/834111246344/50100096080290HDFC0004108/
10
11
12  07-12-2018  07-12-2018  UPI/P2A/834184872222/YBL5e634a07d3c24593ba2586b7
13
14
15  14-12-2018  14-12-2018         ECOM PUR/One97 Communi/Noida/141218/12:02
16
17
18  15-12-2018  15-12-2018                                GST @18% on Charge
19
20
21  15-12-2018  15-12-2018                      Consolidated Charges for A/c
22
23
24  18-12-2018  18-12-2018            ECOM PUR/PAYTM/1204770770/181218/12:17
25
26
27  19-12-2018  19-12-2018  IMPS/P2A/835314069033/50100096080290HDFC0004108/
28
29                                                          BY CASH DEPOSIT-
30  20-12-2018  20-12-2018
31                                        BNA/DPRH329801/1536/201218/SOUTH D

          3         4      5         6              7
0   Chq No.    Amount  DR|CR   Balance    Branch Name
1                             25184.55
2                                                 ATM
3             5053.95     CR  30238.50  RECONCILATION
4                                              CENTRE
5                                          ZAMROODPUR
6             7853.25     DR  22385.25
7                                              DEL DL
8                                          ZAMROODPUR
9            12005.90     DR  10379.35
10                                             DEL DL
11                                         ZAMROODPUR
12            1700.00     CR  12079.35
13                                             DEL DL
14                                         ZAMROODPUR
15             480.00     DR  11599.35
16                                             DEL DL
17                                         ZAMROODPUR
18             189.00     DR  11410.35
19                                             DEL DL
20                                         ZAMROODPUR
21            1050.00     DR  10360.35
22                                             DEL DL
23                                         ZAMROODPUR
24              30.00     DR  10330.35
25                                             DEL DL
26                                         ZAMROODPUR
27            7505.90     DR   2824.45
28                                             DEL DL
29                                         ZAMROODPUR
30           24000.00     CR  26824.45
31                                             DEL DL
////////////////////////////////////////////////////////////////////////////////////////////

 8
////////////////////////////////////////////////////////////////////////////////////////////

              0           1                                                 2  \
0    Tran Date  Value Date                           Transaction Particulars
1          NaN         NaN                                 OPENING BALANCE :
2          NaN         NaN                                  BY CASH DEPOSIT-
3   20-12-2018  20-12-2018                                               NaN
4          NaN         NaN                BNA/DPRH329801/1538/201218/SOUTH D
5          NaN         NaN                                               NaN
6   20-12-2018  20-12-2018             NEFT/MB/AXMB183547203664/RANJIT DUTTA
7          NaN         NaN                                               NaN
8          NaN         NaN                                               NaN
9   20-12-2018  20-12-2018                           By Clg 000277 485 DELHI
10         NaN         NaN                                               NaN
11         NaN         NaN                                               NaN
12  24-12-2018  23-12-2018           POS/MANAV SNACKS/NEW DELHI/231218/19:49
13         NaN         NaN                                               NaN
14         NaN         NaN                                               NaN
15  24-12-2018  24-12-2018                 EDC/00052-00052-/M037011032984700
16         NaN         NaN                                               NaN
17         NaN         NaN                                               NaN
18  26-12-2018  26-12-2018         ECOM PUR/One97 Communi/Noida/261218/09:18
19         NaN         NaN                                               NaN
20         NaN         NaN                                               NaN
21  26-12-2018  26-12-2018           POS/MANAV SNACKS/NEW DELHI/261218/13:54
22         NaN         NaN                                               NaN
23         NaN         NaN                                               NaN
24  26-12-2018  26-12-2018                 ECOM PUR/PAYTM/Noida/261218/15:55
25         NaN         NaN                                               NaN
26         NaN         NaN                                               NaN
27  26-12-2018  26-12-2018           POS/MANAV SNACKS/NEW DELHI/261218/20:11
28         NaN         NaN                                               NaN
29         NaN         NaN                                               NaN
30  03-01-2019  03-01-2019                 ECOM PUR/PAYTM/Noida/030119/17:55
31         NaN         NaN                                               NaN
32         NaN         NaN                                  BY CASH DEPOSIT-
33  04-01-2019  04-01-2019                                               NaN
34         NaN         NaN                BNA/DPRH329801/4310/040119/SOUTH D
35         NaN         NaN                                  BY CASH DEPOSIT-
36  09-01-2019  09-01-2019                                               NaN
37         NaN         NaN                BNA/DPRH329801/5215/090119/SOUTH D
38         NaN         NaN                                               NaN
39  11-01-2019  11-01-2019  UPI/P2A/901136972198/PTM25263dcde63546ba8c643d4c
40         NaN         NaN                                               NaN
41         NaN         NaN                                               NaN
42  11-01-2019  11-01-2019  NEFT/SBIN319011812488/Mr RANJIT DUTTA//ATTN//INB
43         NaN         NaN                                               NaN
44         NaN         NaN                                               NaN
45  12-01-2019  12-01-2019                                GST @18% on Charge
46         NaN         NaN                                               NaN
47         NaN         NaN                                               NaN
48  12-01-2019  12-01-2019                      Consolidated Charges for A/c
49         NaN         NaN                                               NaN

          3         4      5         6              7
0   Chq No.    Amount  DR|CR   Balance    Branch Name
1       NaN       NaN    NaN  25184.55            NaN
2       NaN       NaN    NaN       NaN     ZAMROODPUR
3       NaN   4900.00     CR  31724.45            NaN
4       NaN       NaN    NaN       NaN         DEL DL
5       NaN       NaN    NaN       NaN      MAHANAGAR
6       NaN   7500.00     DR  24224.45            NaN
7       NaN       NaN    NaN       NaN        LUCKNOW
8       NaN       NaN    NaN       NaN          CCGOI
9       277  10000.00     CR  34224.45  HYDERABAD HYD
10      NaN       NaN    NaN       NaN             TG
11      NaN       NaN    NaN       NaN     ZAMROODPUR
12      NaN    205.00     DR  34019.45            NaN
13      NaN       NaN    NaN       NaN         DEL DL
14      NaN       NaN    NaN       NaN            ATM
15      NaN   2521.74     CR  36541.19  RECONCILATION
16      NaN       NaN    NaN       NaN         CENTRE
17      NaN       NaN    NaN       NaN     ZAMROODPUR
18      NaN   4330.00     DR  32211.19            NaN
19      NaN       NaN    NaN       NaN         DEL DL
20      NaN       NaN    NaN       NaN     ZAMROODPUR
21      NaN    470.00     DR  31741.19            NaN
22      NaN       NaN    NaN       NaN         DEL DL
23      NaN       NaN    NaN       NaN     ZAMROODPUR
24      NaN    881.00     DR  30860.19            NaN
25      NaN       NaN    NaN       NaN         DEL DL
26      NaN       NaN    NaN       NaN     ZAMROODPUR
27      NaN    180.00     DR  30680.19            NaN
28      NaN       NaN    NaN       NaN         DEL DL
29      NaN       NaN    NaN       NaN     ZAMROODPUR
30      NaN    300.00     DR  30380.19            NaN
31      NaN       NaN    NaN       NaN         DEL DL
32      NaN       NaN    NaN       NaN     ZAMROODPUR
33      NaN  10000.00     CR  40380.19            NaN
34      NaN       NaN    NaN       NaN         DEL DL
35      NaN       NaN    NaN       NaN     ZAMROODPUR
36      NaN   4500.00     CR  44880.19            NaN
37      NaN       NaN    NaN       NaN         DEL DL
38      NaN       NaN    NaN       NaN     ZAMROODPUR
39      NaN      1.00     CR  44881.19            NaN
40      NaN       NaN    NaN       NaN         DEL DL
41      NaN       NaN    NaN       NaN   DATA CENTRE-
42      NaN   3500.00     CR  48381.19            NaN
43      NaN       NaN    NaN       NaN        CHEMBUR
44      NaN       NaN    NaN       NaN     ZAMROODPUR
45      NaN      9.00     DR  48372.19            NaN
46      NaN       NaN    NaN       NaN         DEL DL
47      NaN       NaN    NaN       NaN     ZAMROODPUR
48      NaN     50.00     DR  48322.19            NaN
49      NaN       NaN    NaN       NaN         DEL DL
////////////////////////////////////////////////////////////////////////////////////////////

 6
////////////////////////////////////////////////////////////////////////////////////////////

c:\users\rites\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

              0           1                                                 2  \
0                      NaN
1   14-01-2019  14-01-2019                 EDC/00053-00053-/M037011032984700
2                      NaN
3                      NaN
4   14-01-2019  14-01-2019  IMPS/P2A/901412924696/919971624523/INETIMPS00073
5                      NaN
6                      NaN
7   14-01-2019  14-01-2019  IMPS/P2A/901412927199/919971624523/MOBUA01304940
8                      NaN
9                      NaN
10  14-01-2019  14-01-2019   IMPS/P2A/901412321960/0831010104411UTBI0MBZC45/
11                     NaN
12                     NaN
13  15-01-2019  15-01-2019                 ECOM PUR/PAYTM/Noida/150119/10:25
14                     NaN
15                     NaN                                  BY CASH DEPOSIT-
16  17-01-2019  17-01-2019
17                     NaN                BNA/DPRH329801/6971/170119/SOUTH D
18                     NaN
19  17-01-2019  17-01-2019     IMPS/P2A/901713217651/62246765390SBIN0001078/
20                     NaN
21                     NaN
22  21-01-2019  21-01-2019                 EDC/00054-00054-/M037011032984700
23                     NaN
24                     NaN
25  22-01-2019  22-01-2019                 EDC/00055-00055-/M037011032984700
26                     NaN
27                     NaN
28  22-01-2019  22-01-2019            ECOM PUR/PAYTM/1204770770/220119/13:26
29                     NaN
30                     NaN                                  BY CASH DEPOSIT-
31  23-01-2019  23-01-2019
32                     NaN                BNA/DPRH329801/8113/230119/SOUTH D
33                     NaN                                  BY CASH DEPOSIT-
34  23-01-2019  23-01-2019
35                     NaN                BNA/DPRH329801/8115/230119/SOUTH D
36                     NaN
37  24-01-2019  24-01-2019             ECOM PUR/PTM*PAYTM/NOIDA/240119/17:50
38                     NaN
39                     NaN
40  28-01-2019  28-01-2019                 EDC/00056-00056-/M037011032984700
41                     NaN
42                     NaN                                  BY CASH DEPOSIT-
43  28-01-2019  28-01-2019
44                     NaN                BNA/DPRH329801/8913/280119/SOUTH D

   3         4   5         6              7
0                                       ATM
1      1001.90  CR  49324.09  RECONCILATION
2                                    CENTRE
3                                ZAMROODPUR
4       497.00  CR  49821.09
5                                    DEL DL
6                                ZAMROODPUR
7       400.00  CR  50221.09
8                                    DEL DL
9                                ZAMROODPUR
10    50005.90  DR    215.19
11                                   DEL DL
12                               ZAMROODPUR
13      150.00  DR     65.19
14                                   DEL DL
15                               ZAMROODPUR
16     1000.00  CR   1065.19
17                                   DEL DL
18                               ZAMROODPUR
19     1002.95  DR     62.24
20                                   DEL DL
21                                      ATM
22     2403.49  CR   2465.73  RECONCILATION
23                                   CENTRE
24                                      ATM
25     1426.82  CR   3892.55  RECONCILATION
26                                   CENTRE
27                               ZAMROODPUR
28      400.00  DR   3492.55
29                                   DEL DL
30                               ZAMROODPUR
31    24500.00  CR  27992.55
32                                   DEL DL
33                               ZAMROODPUR
34      500.00  CR  28492.55
35                                   DEL DL
36                               ZAMROODPUR
37     7000.00  DR  21492.55
38                                   DEL DL
39                                      ATM
40     1957.98  CR  23450.53  RECONCILATION
41                                   CENTRE
42                               ZAMROODPUR
43    11500.00  CR  34950.53
44                                   DEL DL
////////////////////////////////////////////////////////////////////////////////////////////

 8
////////////////////////////////////////////////////////////////////////////////////////////

              0           1                                                 2  \
0    Tran Date  Value Date                           Transaction Particulars
1          NaN         NaN                                 OPENING BALANCE :
2          NaN         NaN                                  BY CASH DEPOSIT-
3   28-01-2019  28-01-2019                                               NaN
4          NaN         NaN                BNA/DPRH329801/8915/280119/SOUTH D
5          NaN         NaN                                               NaN
6   28-01-2019  28-01-2019           MOB/SELFFT/RANJIT DUTTA/918010003842859
7          NaN         NaN                                               NaN
8          NaN         NaN                                               NaN
9   28-01-2019  28-01-2019           MOB/SELFFT/RANJIT DUTTA/917010082670968
10         NaN         NaN                                               NaN
11         NaN         NaN                                               NaN
12  29-01-2019  29-01-2019                 EDC/00057-00057-/M037011032984700
13         NaN         NaN                                               NaN
14         NaN         NaN                                               NaN
15  29-01-2019  29-01-2019            ECOM PUR/PAYTM/1204770770/290119/09:35
16         NaN         NaN                                               NaN
17         NaN         NaN                                               NaN
18  29-01-2019  29-01-2019     ECOM PUR/Amazon Seller/Bangalore/290119/15:18
19         NaN         NaN                                               NaN
20  30-01-2019  30-01-2019              NEFT/MB/AXMB190300233679/CLARA TOPPO
21  30-01-2019  30-01-2019                           By Clg 000094 240 DELHI
22         NaN         NaN                                               NaN
23  31-01-2019  31-01-2019       MOB/C34GPI054497/Airtel Delhi NCR Delhi NCR
24         NaN         NaN                                               NaN
25         NaN         NaN                                               NaN
26  04-02-2019  03-02-2019             ECOM PUR/PTM*PAYTM/NOIDA/030219/11:29
27         NaN         NaN                                               NaN
28         NaN         NaN                                               NaN
29  04-02-2019  04-02-2019                 ECOM PUR/PAYTM/Noida/040219/12:18
30         NaN         NaN                                               NaN
31         NaN         NaN                                               NaN
32  07-02-2019  07-02-2019  UPI/P2A/903860182209/YBL2e42360feff34c59a1a2a800
33         NaN         NaN                                               NaN
34         NaN         NaN                                               NaN
35  09-02-2019  09-02-2019            ATM-CASH/KAILASH COLONY/KALKAJI/090219
36         NaN         NaN                                               NaN
37         NaN         NaN                                               NaN
38  11-02-2019  11-02-2019                 EDC/00058-00058-/M037011032984700
39         NaN         NaN                                               NaN
40         NaN         NaN                                               NaN
41  13-02-2019  13-02-2019           MOB/SELFFT/RANJIT DUTTA/917010082670968
42         NaN         NaN                                               NaN
43         NaN         NaN                                               NaN
44  13-02-2019  13-02-2019                    ATM-CASH/+BOB/NEW DELHI/130219
45         NaN         NaN                                               NaN
46  13-02-2019  13-02-2019              ATM-CASH/+SADDAR BAZAAR/DELHI/130219

          3         4      5         6                7
0   Chq No.    Amount  DR|CR   Balance      Branch Name
1       NaN       NaN    NaN  25184.55              NaN
2       NaN       NaN    NaN       NaN       ZAMROODPUR
3       NaN    500.00     CR  35450.53              NaN
4       NaN       NaN    NaN       NaN           DEL DL
5       NaN       NaN    NaN       NaN       ZAMROODPUR
6       NaN   1000.00     DR  34450.53              NaN
7       NaN       NaN    NaN       NaN           DEL DL
8       NaN       NaN    NaN       NaN       ZAMROODPUR
9       NaN  20000.00     DR  14450.53              NaN
10      NaN       NaN    NaN       NaN           DEL DL
11      NaN       NaN    NaN       NaN              ATM
12      NaN    651.87     CR  15102.40    RECONCILATION
13      NaN       NaN    NaN       NaN           CENTRE
14      NaN       NaN    NaN       NaN       ZAMROODPUR
15      NaN    100.00     DR  15002.40              NaN
16      NaN       NaN    NaN       NaN           DEL DL
17      NaN       NaN    NaN       NaN       ZAMROODPUR
18      NaN   4130.00     DR  10872.40              NaN
19      NaN       NaN    NaN       NaN           DEL DL
20      NaN      1.00     DR  10871.40  JAMSHEDPUR [JH]
21       94  19000.00     CR  29871.40    CCGO NORTH MH
22      NaN       NaN    NaN       NaN       ZAMROODPUR
23      NaN    489.00     DR  29382.40              NaN
24      NaN       NaN    NaN       NaN           DEL DL
25      NaN       NaN    NaN       NaN       ZAMROODPUR
26      NaN     91.00     DR  29291.40              NaN
27      NaN       NaN    NaN       NaN           DEL DL
28      NaN       NaN    NaN       NaN       ZAMROODPUR
29      NaN    179.87     DR  29111.53              NaN
30      NaN       NaN    NaN       NaN           DEL DL
31      NaN       NaN    NaN       NaN       ZAMROODPUR
32      NaN   1160.00     CR  30271.53              NaN
33      NaN       NaN    NaN       NaN           DEL DL
34      NaN       NaN    NaN       NaN       ZAMROODPUR
35      NaN   2000.00     DR  28271.53              NaN
36      NaN       NaN    NaN       NaN           DEL DL
37      NaN       NaN    NaN       NaN              ATM
38      NaN    194.40     CR  28465.93    RECONCILATION
39      NaN       NaN    NaN       NaN           CENTRE
40      NaN       NaN    NaN       NaN       ZAMROODPUR
41      NaN   8166.00     DR  20299.93              NaN
42      NaN       NaN    NaN       NaN           DEL DL
43      NaN       NaN    NaN       NaN       ZAMROODPUR
44      NaN    500.00     DR  19799.93              NaN
45      NaN       NaN    NaN       NaN           DEL DL
46      NaN    800.00     DR  18999.93       ZAMROODPUR
////////////////////////////////////////////////////////////////////////////////////////////

 8
////////////////////////////////////////////////////////////////////////////////////////////

              0           1                                          2  \
0    Tran Date  Value Date                    Transaction Particulars
1          NaN         NaN                          OPENING BALANCE :
2          NaN         NaN                                        NaN
3          NaN         NaN                                        NaN
4   14-02-2019  14-02-2019     ECOM PUR/PAYTM/1204770770/140219/20:53
5          NaN         NaN                                        NaN
6          NaN         NaN                                        NaN
7   16-02-2019  16-02-2019          EDC/00059-00060-/M037011032984700
8          NaN         NaN                                        NaN
9          NaN         NaN                                        NaN
10  16-02-2019  16-02-2019                         GST @18% on Charge
11         NaN         NaN                                        NaN
12         NaN         NaN                                        NaN
13  16-02-2019  16-02-2019               Consolidated Charges for A/c
14         NaN         NaN                                        NaN
15         NaN         NaN                                        NaN
16  19-02-2019  19-02-2019  ECOM PUR/ONE97 COMMUNI/NOIDA/190219/20:14
17         NaN         NaN                                        NaN
18         NaN         NaN                                        NaN
19  25-02-2019  25-02-2019          EDC/00061-00061-/M037011032984700
20         NaN         NaN                                        NaN
21         NaN         NaN                                        NaN
22  25-02-2019  25-02-2019      ECOM PUR/PTM*PAYTM/NOIDA/250219/11:37
23         NaN         NaN                                        NaN
24         NaN         NaN                                        NaN
25  27-02-2019  27-02-2019          EDC/00062-00062-/M037011032984700
26         NaN         NaN                                        NaN
27         NaN         NaN                           BY CASH DEPOSIT-
28  27-02-2019  27-02-2019                                        NaN
29         NaN         NaN         BNA/DPRH329801/5368/270219/SOUTH D
30         NaN         NaN                                        NaN
31  27-02-2019  27-02-2019       NEFT/MB/AXMB190589836488/CLARA TOPPO
32         NaN         NaN                                        NaN
33         NaN         NaN          ATM-CASH/+KAILASH COLONY BR/SOUTH
34  27-02-2019  27-02-2019                                        NaN
35         NaN         NaN                               DELHI/270219
36         NaN         NaN                                        NaN
37  02-03-2019  02-03-2019     ECOM PUR/PAYTM/1204770770/020319/19:39
38         NaN         NaN                                        NaN
39  04-03-2019  04-03-2019       BRN-CLG-CHQ PAID TO ABHI WATER POINT
40  04-03-2019  04-03-2019                    By Clg 000306 485 DELHI
41         NaN         NaN                                        NaN
42  07-03-2019  07-03-2019     ECOM PUR/PAYTM/1204770770/070319/18:13
43         NaN         NaN                                        NaN
44  08-03-2019  08-03-2019    MOB/SELFFT/RANJIT DUTTA/917010082670968

          3         4      5         6              7
0   Chq No.    Amount  DR|CR   Balance    Branch Name
1       NaN       NaN    NaN  25184.55            NaN
2       NaN       NaN    NaN       NaN         DEL DL
3       NaN       NaN    NaN       NaN     ZAMROODPUR
4       NaN    203.00     DR  18796.93            NaN
5       NaN       NaN    NaN       NaN         DEL DL
6       NaN       NaN    NaN       NaN            ATM
7       NaN  10795.73     CR  29592.66  RECONCILATION
8       NaN       NaN    NaN       NaN         CENTRE
9       NaN       NaN    NaN       NaN     ZAMROODPUR
10      NaN      9.00     DR  29583.66            NaN
11      NaN       NaN    NaN       NaN         DEL DL
12      NaN       NaN    NaN       NaN     ZAMROODPUR
13      NaN     50.00     DR  29533.66            NaN
14      NaN       NaN    NaN       NaN         DEL DL
15      NaN       NaN    NaN       NaN     ZAMROODPUR
16      NaN    250.00     DR  29283.66            NaN
17      NaN       NaN    NaN       NaN         DEL DL
18      NaN       NaN    NaN       NaN            ATM
19      NaN   1426.82     CR  30710.48  RECONCILATION
20      NaN       NaN    NaN       NaN         CENTRE
21      NaN       NaN    NaN       NaN     ZAMROODPUR
22      NaN   3880.00     DR  26830.48            NaN
23      NaN       NaN    NaN       NaN         DEL DL
24      NaN       NaN    NaN       NaN            ATM
25      NaN   1681.82     CR  28512.30  RECONCILATION
26      NaN       NaN    NaN       NaN         CENTRE
27      NaN       NaN    NaN       NaN     ZAMROODPUR
28      NaN  16000.00     CR  44512.30            NaN
29      NaN       NaN    NaN       NaN         DEL DL
30      NaN       NaN    NaN       NaN  GORABAZAR KOL
31      NaN  25000.00     DR  19512.30            NaN
32      NaN       NaN    NaN       NaN             WB
33      NaN       NaN    NaN       NaN     ZAMROODPUR
34      NaN    500.00     DR  19012.30            NaN
35      NaN       NaN    NaN       NaN         DEL DL
36      NaN       NaN    NaN       NaN     ZAMROODPUR
37      NaN     40.00     DR  18972.30            NaN
38      NaN       NaN    NaN       NaN         DEL DL
39     8191    420.00     DR  18552.30  CCGO NORTH MH
40      306  10000.00     CR  28552.30  CCGO NORTH MH
41      NaN       NaN    NaN       NaN     ZAMROODPUR
42      NaN    400.00     DR  28152.30            NaN
43      NaN       NaN    NaN       NaN         DEL DL
44      NaN   8100.00     DR  20052.30     ZAMROODPUR
////////////////////////////////////////////////////////////////////////////////////////////

 8
////////////////////////////////////////////////////////////////////////////////////////////

              0           1                                          2    3  \
0          NaN         NaN                                        NaN  NaN
1          NaN         NaN          ATM-CASH/+KAILASH COLONY BR/SOUTH  NaN
2   09-03-2019  09-03-2019                                        NaN  NaN
3          NaN         NaN                               DELHI/090319  NaN
4          NaN         NaN          ATM-CASH/+KAILASH COLONY BR/SOUTH  NaN
5   09-03-2019  09-03-2019                                        NaN  NaN
6          NaN         NaN                               DELHI/090319  NaN
7          NaN         NaN                                        NaN  NaN
8   09-03-2019  09-03-2019    MOB/SELFFT/RANJIT DUTTA/917010082670968  NaN
9          NaN         NaN                                        NaN  NaN
10  13-03-2019  13-03-2019                    By Clg 000459 240 DELHI  459
11         NaN         NaN                                        NaN  NaN
12  14-03-2019  14-03-2019  ECOM PUR/One97 Communi/Noida/140319/14:00  NaN
13         NaN         NaN                                        NaN  NaN
14         NaN         NaN                                        NaN  NaN
15  14-03-2019  14-03-2019  ECOM PUR/One97 Communi/Noida/140319/14:06  NaN
16         NaN         NaN                                        NaN  NaN
17         NaN         NaN                                        NaN  NaN
18  16-03-2019  16-03-2019                         GST @18% on Charge  NaN
19         NaN         NaN                                        NaN  NaN
20         NaN         NaN                                        NaN  NaN
21  16-03-2019  16-03-2019               Consolidated Charges for A/c  NaN
22         NaN         NaN                                        NaN  NaN

           4    5         6              7
0        NaN  NaN       NaN         DEL DL
1        NaN  NaN       NaN     ZAMROODPUR
2   10000.00   DR  10052.30            NaN
3        NaN  NaN       NaN         DEL DL
4        NaN  NaN       NaN     ZAMROODPUR
5     200.00   DR   9852.30            NaN
6        NaN  NaN       NaN         DEL DL
7        NaN  NaN       NaN     ZAMROODPUR
8    1800.00   DR   8052.30            NaN
9        NaN  NaN       NaN         DEL DL
10  13860.00   CR  21912.30  CCGO NORTH MH
11       NaN  NaN       NaN     ZAMROODPUR
12    300.00   DR  21612.30            NaN
13       NaN  NaN       NaN         DEL DL
14       NaN  NaN       NaN     ZAMROODPUR
15    100.00   DR  21512.30            NaN
16       NaN  NaN       NaN         DEL DL
17       NaN  NaN       NaN     ZAMROODPUR
18     23.40   DR  21488.90            NaN
19       NaN  NaN       NaN         DEL DL
20       NaN  NaN       NaN     ZAMROODPUR
21    130.00   DR  21358.90            NaN
22       NaN  NaN       NaN         DEL DL
////////////////////////////////////////////////////////////////////////////////////////////

 8
////////////////////////////////////////////////////////////////////////////////////////////

              0           1                                                 2  \
0          NaN         NaN                                 OPENING BALANCE :

              0           1                                               2  \
0    Tran Date  Value Date                         Transaction Particulars
1          NaN         NaN                               OPENING BALANCE :
2          NaN         NaN                                             NaN
3   10-08-2019  10-08-2019                    Consolidated Charges for A/c
4          NaN         NaN                                             NaN
5          NaN         NaN                                             NaN
6   12-08-2019  12-08-2019           ECOM PUR/PTM*PAYTM/NOIDA/120819/12:03
7          NaN         NaN                                             NaN
8          NaN         NaN                                             NaN
9   13-08-2019  13-08-2019           NEFT/MB/AXMB192258016621/RANJIT DUTTA
10         NaN         NaN                                             NaN
11         NaN         NaN                                             NaN
12  13-08-2019  13-08-2019               NEFT/MB/AXMB192258208659/SOBAWATI
13         NaN         NaN                                             NaN
14  13-08-2019  13-08-2019                         By Clg 419899 234 DELHI
15         NaN         NaN                                             NaN
16  14-08-2019  14-08-2019           ECOM PUR/PTM*PAYTM/NOIDA/140819/13:08
17         NaN         NaN                                             NaN
18         NaN         NaN                                             NaN
19  14-08-2019  14-08-2019     ECOM PUR/PAY*ZOOMCAR I/GURGAON/140819/16:16
20         NaN         NaN                                             NaN
21         NaN         NaN                                             NaN
22  15-08-2019  15-08-2019     ECOM PUR/Revv self dri/Gurgaon/150819/09:39
23         NaN         NaN                                             NaN
24         NaN         NaN                                             NaN
25  15-08-2019  15-08-2019        POS/DLF MALL OF INDIA/NOIDA/150819/16:39
26         NaN         NaN                                             NaN
27         NaN         NaN                                             NaN
28  16-08-2019  16-08-2019       ECOM PUR/One97 Communi/Noida/160819/12:23
29         NaN         NaN                                             NaN
30         NaN         NaN                                             NaN
31  16-08-2019  16-08-2019       ECOM PUR/One97 Communi/Noida/160819/13:37
32         NaN         NaN                                             NaN
33         NaN         NaN  IMPS/P2A/922813570251/MrRANJIT/STATEBAN/MOBUA0
34  16-08-2019  16-08-2019                                             NaN
35         NaN         NaN                                              19
36  16-08-2019  16-08-2019                         By Clg 000076 240 DELHI
37         NaN         NaN                                             NaN
38  18-08-2019  18-08-2019           POS/PATANJALI./NEW DELHI/180819/18:21
39         NaN         NaN                                             NaN
40         NaN         NaN                                             NaN
41  20-08-2019  20-08-2019       ECOM PUR/One97 Communi/Noida/200819/11:14
42         NaN         NaN                                             NaN
43         NaN         NaN                                             NaN
44  20-08-2019  20-08-2019       ECOM PUR/One97 Communi/Noida/200819/11:17
45         NaN         NaN                                             NaN
46         NaN         NaN                                             NaN
47  20-08-2019  20-08-2019                NEFT/MB/AXMB192320846685/MUNEETA
48         NaN         NaN                                             NaN
49  22-08-2019  22-08-2019           REFUND/Revv self drive car /15-AUG-19

          3         4      5         6              7
0   Chq No.    Amount  DR|CR   Balance    Branch Name
1       NaN       NaN    NaN  25184.55            NaN
2       NaN       NaN    NaN       NaN     ZAMROODPUR
3       NaN     50.00     DR  24270.03            NaN
4       NaN       NaN    NaN       NaN         DEL DL
5       NaN       NaN    NaN       NaN     ZAMROODPUR
6       NaN    500.00     DR  23770.03            NaN
7       NaN       NaN    NaN       NaN         DEL DL
8       NaN       NaN    NaN       NaN     ZAMROODPUR
9       NaN    100.00     DR  23670.03            NaN
10      NaN       NaN    NaN       NaN         DEL DL
11      NaN       NaN    NaN       NaN     ZAMROODPUR
12      NaN   4000.00     DR  19670.03            NaN
13      NaN       NaN    NaN       NaN         DEL DL
14   419899   4500.00     CR  24170.03  CCGO NORTH MH
15      NaN       NaN    NaN       NaN     ZAMROODPUR
16      NaN   1000.00     DR  23170.03            NaN
17      NaN       NaN    NaN       NaN         DEL DL
18      NaN       NaN    NaN       NaN     ZAMROODPUR
19      NaN   5914.00     DR  17256.03            NaN
20      NaN       NaN    NaN       NaN         DEL DL
21      NaN       NaN    NaN       NaN     ZAMROODPUR
22      NaN   6130.00     DR  11126.03            NaN
23      NaN       NaN    NaN       NaN         DEL DL
24      NaN       NaN    NaN       NaN     ZAMROODPUR
25      NaN    491.40     DR  10634.63            NaN
26      NaN       NaN    NaN       NaN         DEL DL
27      NaN       NaN    NaN       NaN     ZAMROODPUR
28      NaN     49.00     DR  10585.63            NaN
29      NaN       NaN    NaN       NaN         DEL DL
30      NaN       NaN    NaN       NaN     ZAMROODPUR
31      NaN     35.00     DR  10550.63            NaN
32      NaN       NaN    NaN       NaN         DEL DL
33      NaN       NaN    NaN       NaN     ZAMROODPUR
34      NaN   5914.00     CR  16464.63            NaN
35      NaN       NaN    NaN       NaN         DEL DL
36       76   9550.00     CR  26014.63  CCGO NORTH MH
37      NaN       NaN    NaN       NaN     ZAMROODPUR
38      NaN    100.00     DR  25914.63            NaN
39      NaN       NaN    NaN       NaN         DEL DL
40      NaN       NaN    NaN       NaN     ZAMROODPUR
41      NaN    130.00     DR  25784.63            NaN
42      NaN       NaN    NaN       NaN         DEL DL
43      NaN       NaN    NaN       NaN     ZAMROODPUR
44      NaN    100.00     DR  25684.63            NaN
45      NaN       NaN    NaN       NaN         DEL DL
46      NaN       NaN    NaN       NaN     ZAMROODPUR
47      NaN  10000.00     DR  15684.63            NaN
48      NaN       NaN    NaN       NaN         DEL DL
49      NaN   5348.00     CR  21032.63            ATM
////////////////////////////////////////////////////////////////////////////////////////////

 8
////////////////////////////////////////////////////////////////////////////////////////////

              0           1                                              2  \
0    Tran Date  Value Date                        Transaction Particulars
1          NaN         NaN                              OPENING BALANCE :
2          NaN         NaN                                            NaN
3          NaN         NaN                                            NaN
4          NaN         NaN                                            NaN
5   22-08-2019  22-08-2019          ECOM PUR/PTM*PAYTM/NOIDA/220819/17:44
6          NaN         NaN                                            NaN
7   22-08-2019  22-08-2019                        By Clg 000361 485 DELHI
8          NaN         NaN                                            NaN
9   22-08-2019  22-08-2019  IMPS/P2A/923420041048/SATISH/PUNJABN/X010078/
10         NaN         NaN                                            NaN
11         NaN         NaN                                            NaN
12  23-08-2019  23-08-2019              EDC/00071-00071-/M037011032984700
13         NaN         NaN                                            NaN
14         NaN         NaN                                            NaN
15  23-08-2019  23-08-2019          ECOM PUR/PTM*PAYTM/NOIDA/230819/11:28
16         NaN         NaN                                            NaN
17         NaN         NaN                                            NaN
18  23-08-2019  23-08-2019          ECOM PUR/PTM*PAYTM/NOIDA/230819/11:31
19         NaN         NaN                                            NaN
20         NaN         NaN                                            NaN
21  23-08-2019  23-08-2019          ECOM PUR/PTM*PAYTM/NOIDA/230819/11:32
22         NaN         NaN                                            NaN
23         NaN         NaN                                            NaN
24  25-08-2019  25-08-2019      ECOM PUR/One97 Communi/Noida/250819/19:04
25         NaN         NaN                                            NaN
26         NaN         NaN                                            NaN
27  25-08-2019  25-08-2019      ECOM PUR/One97 Communi/Noida/250819/19:06
28         NaN         NaN                                            NaN
29         NaN         NaN                                            NaN
30  25-08-2019  25-08-2019   POS/REL RETAIL LTD-FR/NEW DELHI/250819/19:30
31         NaN         NaN                                            NaN
32         NaN         NaN                                            NaN
33  26-08-2019  26-08-2019              EDC/00072-00072-/M037011032984700
34         NaN         NaN                                            NaN
35         NaN         NaN                                            NaN
36  26-08-2019  26-08-2019           NEFT/MB/AXMB192382204340/VINAY SINGH
37         NaN         NaN                                            NaN
38         NaN         NaN                                            NaN
39  26-08-2019  26-08-2019          NEFT/MB/AXMB192382222516/RANJIT DUTTA
40         NaN         NaN                                            NaN
41         NaN         NaN                                            NaN
42  26-08-2019  26-08-2019          NEFT/MB/AXMB192382345982/RANJIT DUTTA
43         NaN         NaN                                            NaN
44         NaN         NaN                                            NaN
45  28-08-2019  28-08-2019      ECOM PUR/One97 Communi/Noida/280819/19:19
46         NaN         NaN                                            NaN

          3         4      5         6              7
0   Chq No.    Amount  DR|CR   Balance    Branch Name
1       NaN       NaN    NaN  25184.55            NaN
2       NaN       NaN    NaN       NaN  RECONCILATION
3       NaN       NaN    NaN       NaN         CENTRE
4       NaN       NaN    NaN       NaN     ZAMROODPUR
5       NaN   2260.00     DR  18772.63            NaN
6       NaN       NaN    NaN       NaN         DEL DL
7       361  10000.00     CR  28772.63  CCGO NORTH MH
8       NaN       NaN    NaN       NaN     ZAMROODPUR
9       NaN   5305.90     DR  23466.73            NaN
10      NaN       NaN    NaN       NaN         DEL DL
11      NaN       NaN    NaN       NaN            ATM
12      NaN  34379.32     CR  57846.05  RECONCILATION
13      NaN       NaN    NaN       NaN         CENTRE
14      NaN       NaN    NaN       NaN     ZAMROODPUR
15      NaN    192.00     DR  57654.05            NaN
16      NaN       NaN    NaN       NaN         DEL DL
17      NaN       NaN    NaN       NaN     ZAMROODPUR
18      NaN    100.00     DR  57554.05            NaN
19      NaN       NaN    NaN       NaN         DEL DL
20      NaN       NaN    NaN       NaN     ZAMROODPUR
21      NaN     50.00     DR  57504.05            NaN
22      NaN       NaN    NaN       NaN         DEL DL
23      NaN       NaN    NaN       NaN     ZAMROODPUR
24      NaN    250.00     DR  57254.05            NaN
25      NaN       NaN    NaN       NaN         DEL DL
26      NaN       NaN    NaN       NaN     ZAMROODPUR
27      NaN    240.00     DR  57014.05            NaN
28      NaN       NaN    NaN       NaN         DEL DL
29      NaN       NaN    NaN       NaN     ZAMROODPUR
30      NaN    246.00     DR  56768.05            NaN
31      NaN       NaN    NaN       NaN         DEL DL
32      NaN       NaN    NaN       NaN            ATM
33      NaN   1834.82     CR  58602.87  RECONCILATION
34      NaN       NaN    NaN       NaN         CENTRE
35      NaN       NaN    NaN       NaN     ZAMROODPUR
36      NaN    500.00     DR  58102.87            NaN
37      NaN       NaN    NaN       NaN         DEL DL
38      NaN       NaN    NaN       NaN     ZAMROODPUR
39      NaN  13000.00     DR  45102.87            NaN
40      NaN       NaN    NaN       NaN         DEL DL
41      NaN       NaN    NaN       NaN     ZAMROODPUR
42      NaN  20200.00     DR  24902.87            NaN
43      NaN       NaN    NaN       NaN         DEL DL
44      NaN       NaN    NaN       NaN     ZAMROODPUR
45      NaN    100.00     DR  24802.87            NaN
46      NaN       NaN    NaN       NaN         DEL DL
////////////////////////////////////////////////////////////////////////////////////////////

 8
////////////////////////////////////////////////////////////////////////////////////////////

              0           1                                              2  \
0    Tran Date  Value Date                        Transaction Particulars
1          NaN         NaN                              OPENING BALANCE :
2          NaN         NaN                                            NaN
3   02-09-2019  02-09-2019      ECOM PUR/One97 Communi/Noida/020919/12:40
4          NaN         NaN                                            NaN
5          NaN         NaN                                            NaN
6   02-09-2019  02-09-2019          ECOM PUR/PTM*PAYTM/NOIDA/020919/12:51
7          NaN         NaN                                            NaN
8          NaN         NaN                                            NaN
9   02-09-2019  02-09-2019      ECOM PUR/ONE97 COMMUNI/NOIDA/020919/13:23
10         NaN         NaN                                            NaN
11         NaN         NaN                                            NaN
12  02-09-2019  02-09-2019          POS/RELIANCE ./NEW DELHI/020919/13:39
13         NaN         NaN                                            NaN
14         NaN         NaN                                            NaN
15  02-09-2019  02-09-2019    UPI/P2A/924538827024/RANJIT DU/Paytm Pay/NA
16         NaN         NaN                                            NaN
17         NaN         NaN                                            NaN
18  02-09-2019  02-09-2019  IMPS/P2A/924516300240/AbhiWa/VIJAYAB/X000015/
19         NaN         NaN                                            NaN
20         NaN         NaN                                            NaN
21  03-09-2019  03-09-2019          NEFT/MB/AXMB192465052091/RANJIT DUTTA
22         NaN         NaN                                            NaN
23         NaN         NaN                                            NaN
24  04-09-2019  04-09-2019  IMPS/P2A/924715204286/SATISH/PUNJABN/X010078/
25         NaN         NaN                                            NaN
26         NaN         NaN                                            NaN
27  04-09-2019  04-09-2019       ATM-CASH/+132 QUTUB ROAD SA/DELHI/040919
28         NaN         NaN                                            NaN
29         NaN         NaN                                            NaN
30  04-09-2019  04-09-2019       POS/BPCL BCC AUTO PVT/DELHI/040919/16:31
31         NaN         NaN                                            NaN

          3        4      5         6            7
0   Chq No.   Amount  DR|CR   Balance  Branch Name
1       NaN      NaN    NaN  25184.55          NaN
2       NaN      NaN    NaN       NaN   ZAMROODPUR
3       NaN  1167.30     DR  23635.57          NaN
4       NaN      NaN    NaN       NaN       DEL DL
5       NaN      NaN    NaN       NaN   ZAMROODPUR
6       NaN   500.00     DR  23135.57          NaN
7       NaN      NaN    NaN       NaN       DEL DL
8       NaN      NaN    NaN       NaN   ZAMROODPUR
9       NaN   175.00     DR  22960.57          NaN
10      NaN      NaN    NaN       NaN       DEL DL
11      NaN      NaN    NaN       NaN   ZAMROODPUR
12      NaN   406.32     DR  22554.25          NaN
13      NaN      NaN    NaN       NaN       DEL DL
14      NaN      NaN    NaN       NaN   ZAMROODPUR
15      NaN   400.00     CR  22954.25          NaN
16      NaN      NaN    NaN       NaN       DEL DL
17      NaN      NaN    NaN       NaN   ZAMROODPUR
18      NaN  2205.90     DR  20748.35          NaN
19      NaN      NaN    NaN       NaN       DEL DL
20      NaN      NaN    NaN       NaN   ZAMROODPUR
21      NaN  9000.00     DR  11748.35          NaN
22      NaN      NaN    NaN       NaN       DEL DL
23      NaN      NaN    NaN       NaN   ZAMROODPUR
24      NaN  2905.90     DR   8842.45          NaN
25      NaN      NaN    NaN       NaN       DEL DL
26      NaN      NaN    NaN       NaN   ZAMROODPUR
27      NaN  1000.00     DR   7842.45          NaN
28      NaN      NaN    NaN       NaN       DEL DL
29      NaN      NaN    NaN       NaN   ZAMROODPUR
30      NaN   314.06     DR   7528.39          NaN
31      NaN      NaN    NaN       NaN       DEL DL
////////////////////////////////////////////////////////////////////////////////////////////

 8
////////////////////////////////////////////////////////////////////////////////////////////

              0           1                                          2  \
0    Tran Date  Value Date                    Transaction Particulars
1          NaN         NaN                          OPENING BALANCE :
2          NaN         NaN                                        NaN
3   14-09-2019  14-09-2019                         GST @18% on Charge
4          NaN         NaN                                        NaN
5          NaN         NaN                                        NaN
6   14-09-2019  14-09-2019               Consolidated Charges for A/c
7          NaN         NaN                                        NaN
8          NaN         NaN                                        NaN
9   16-09-2019  16-09-2019        POS/DR JOLLY/NEW DELHI/160919/12:43
10         NaN         NaN                                        NaN
11         NaN         NaN                                        NaN
12  18-09-2019  18-09-2019    MOB/SELFFT/RANJIT DUTTA/918010003842859
13         NaN         NaN                                        NaN
14         NaN         NaN                                        NaN
15  18-09-2019  18-09-2019    MOB/SELFFT/RANJIT DUTTA/917010082670968
16         NaN         NaN                                        NaN
17         NaN         NaN                                        NaN
18  18-09-2019  18-09-2019      ECOM PUR/PTM*IRCTC/NOIDA/180919/11:28
19         NaN         NaN                                        NaN
20         NaN         NaN                                        NaN
21  18-09-2019  18-09-2019  ECOM PUR/One97 Communi/Noida/180919/12:33
22         NaN         NaN                                        NaN
23         NaN         NaN                                        NaN
24  22-09-2019  22-09-2019          ECOM PUR/PAYTM/Noida/220919/16:43
25         NaN         NaN                                        NaN

          3        4      5         6            7
0   Chq No.   Amount  DR|CR   Balance  Branch Name
1       NaN      NaN    NaN  25184.55          NaN
2       NaN      NaN    NaN       NaN   ZAMROODPUR
3       NaN    27.00     DR  17656.99          NaN
4       NaN      NaN    NaN       NaN       DEL DL
5       NaN      NaN    NaN       NaN   ZAMROODPUR
6       NaN   150.00     DR  17506.99          NaN
7       NaN      NaN    NaN       NaN       DEL DL
8       NaN      NaN    NaN       NaN   ZAMROODPUR
9       NaN   600.00     DR  16906.99          NaN
10      NaN      NaN    NaN       NaN       DEL DL
11      NaN      NaN    NaN       NaN   ZAMROODPUR

,0,1,2,3,4,5,6,7
0,Tran Date,Value Date,Transaction Particulars,Chq No.,Amount,DR|CR,Balance,Branch Name
1,,,OPENING BALANCE :,,,,25184.55,
2,,,,,,,,ATM
3,03-12-2018,03-12-2018,EDC/00049-00051-/M037011032984700,,5053.95,CR,30238.50,RECONCILATION
4,,,,,,,,CENTRE
...,...,...,...,...,...,...,...,...
281,10-11-2019,10-11-2019,ECOM PUR/One97 Communi/Noida/101119/19:04,NaN,334.98,DR,4748.06,NaN
282,15-11-2019,15-11-2019,IMPS/P2A/931916091620/RANJIT/HDFCBAN/X080290/,NaN,202.95,DR,4545.11,NaN
283,16-11-2019,16-11-2019,NEFT/N320190983426385/INDU BHARGAVA/Payment,NaN,3300.00,CR,7845.11,RTGS HUB
284,20-11-2019,20-11-2019,ECOM PUR/One97 Communi/Noida/201119/15:01,NaN,60.00,DR,7785.11,NaN
285,20-11-2019,20-11-2019,19376685-MMC NOV 2019,NaN,81.42,DR,7703.69,ATM

# Perfect One

In [6]:
def came(f):
    tables = camelot.read_pdf(f, flavor='stream', pages='1,2', edge_til=500)
    if len(tables) != 0:
        dt=pd.DataFrame(); tmp=pd.DataFrame()
        first_check = tables[0].df; second_check = tables[1].df;
        print(first_check.shape[1])
        print(second_check.shape[1])
        if (first_check.shape[1] > 5):
            try:
                idx=[ c for c in first_check[first_check.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in first_check[first_check.apply(lambda row: row.astype(str).str.lower().str.contains('date').any(), axis=1) ==True].index ][0]
                first_check.columns=first_check.iloc[idx]
            except:
                try:
                    idx=[ c for c in first_check[first_check.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in dt[dt.apply(lambda row: row.astype(str).str.lower().str.contains('particular').any(), axis=1) ==True].index ][0]
                    first_check.columns=first_check.iloc[idx]
                except:
                    print("\nAxis-Column headers missing")
            tables2 = camelot.read_pdf(f, flavor='stream', pages='all', edge_til=500)
            print("\nlength of first_check:",len(first_check.columns))
            if len(first_check.columns) == 7:
                print("Column length is 7")
                for i in range(len(tables2)):
                    tmp=tables2[i].df
                    if (tmp.shape[1] < 5):
                        print("\nDiiferent structure on page:",i); pass
                    elif (tmp.shape[1] == 7):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    elif (tmp.shape[1] == 6):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        tmp[6] = np.nan; tmp = tmp[[0,6,1,2,3,4,5]]; tmp.columns = range(tmp.shape[1]);
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    else:
                        print("\nAnother Structure on page:",i); pass

            elif len(first_check.columns) == 8:
                print("Column length is 8")
                for i in range(len(tables2)):
                    tmp=tables2[i].df   
                    if (tmp.shape[1] < 5):
                        print("\nDiiferent structure on page:",i); pass
                    elif (tmp.shape[1] == 8):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    elif (tmp.shape[1] == 7):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        tmp[7] = np.nan; tmp = tmp[[0,1,2,7,3,4,5,6]]; tmp.columns = range(tmp.shape[1]);
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    else:
                        print("\nAnother Structure on page:",i); pass
            elif len(first_check.columns) > 8:
                print("Column length greater than 8")
                for i in range(len(tables2)):
                    tmp=tables2[i].df 
                    print("////////////////////////////////////////////////////////////////////////////////////////////")
                    print("\n",tmp.shape[1])
                    print("////////////////////////////////////////////////////////////////////////////////////////////")
                    if (tmp.shape[1] > 8):
                        try:
                            idx=[ c for c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('date').any(), axis=1) ==True].index ][0]
                            tmp.columns=tmp.iloc[idx] ; tmp=tmp.iloc[idx:,:] ; tmp.reset_index(drop=True,inplace=True)
                        except:
                            try:
                                idx=[ c for c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('particular').any(), axis=1) ==True].index ][0]
                                tmp.columns=tmp.iloc[idx] ; tmp=tmp.iloc[idx:,:] ; tmp.reset_index(drop=True,inplace=True)           
                            except:
                                print("\nAxis-Column headers missing"); pass
                        tmp.drop("",axis = 1,inplace = True)
                        tmp.columns = [0,1,2,3,4,5,6,7]
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        print("\n",tmp)
                        dt=pd.concat([dt,tmp]).drop_duplicates().reset_index(drop=True)
                    elif (tmp.shape[1] == 8):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        print("\n",tmp)
                        dt = pd.concat([dt,tmp])
                    elif (tmp.shape[1] == 7):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        tmp[7] = np.nan; tmp = tmp[[0,1,2,7,3,4,5,6]]; tmp.columns = range(tmp.shape[1]);
                        print("\n",tmp)
                        dt = pd.concat([dt,tmp])
                    elif (tmp.shape[1] == 6):
                        try:
                            idx=[ c for c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('date').any(), axis=1) ==True].index ][0]
                        except:
                            try:
                                idx=[ c for c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('particular').any(), axis=1) ==True].index ][0]
                            except:
                                print("\nAxis-Column headers missing")
                        tmp.columns=tmp.iloc[idx] ; tmp=tmp.iloc[idx+1:,:] ; tmp.reset_index(drop=True,inplace=True) 
                        tmp=tmp[~tmp.index.isin(tmp[tmp.apply(lambda row: row.astype(str).str.lower().str.contains('page:|account status|total|reason for return|inward clg|opening balance|statement of a/c').any(), axis=1) ==True].index)]
                        if tmp.columns[0] == 'Tran Date\nValue Date\nTransaction Particulars':
                            tmp.columns = ["A","B","C","D","E","F"]
                            tmp.reset_index(drop = True, inplace=True)
                            tmp1 = pd.DataFrame(tmp.A.str.split('\n',2).tolist(),columns=["Z1", "Z2", "Z3"])
                            result = pd.concat([tmp1, tmp], axis=1, sort=False)
                            result.drop('A' ,axis=1, inplace=True)
                            result["Y"] = result["Z1"]
                            for i,j in enumerate(result["Y"]):
                                if re.search(r'(\d+-\d+-\d+)',j):
                                    result.at[i, 'Y'] = ""
                                    pass
                                elif re.search(r'^\s*$',j):
                                    result.at[i, 'Y'] = ""
                                    pass
                                else:
                                    pass
                                    
                            for i,j in enumerate(result["Z1"]):
                                if re.search(r'(\d+-\d+-\d+)',j):
                                    pass
                                elif re.search(r'^\s*$',j):
                                    result.at[i, 'Z1'] = ""
                                    pass
                                else:
                                    result.at[i, 'Z1'] = ""
                                    pass 
                            result.fillna(value=pd.np.nan, inplace=True)
                            result['X'] = result['Z3'].fillna('') + result['Y'].fillna('')
                            result.drop(['Z3','Y'] ,axis=1, inplace=True)
                            result = result[['Z1', 'Z2', 'X', 'B', 'C','D','E','F']]
                            result.columns = [0,1,2,3,4,5,6,7]
                            result=pd.DataFrame(result).replace(r'^\s*$', np.nan, regex=True)
                            print("\n",result)
                            dt=pd.concat([dt,result])
                        else:
                            print("\nIn without box pdf another Structure on page:",i); pass

        elif(second_check.shape[1] > 5):
            try:
                idx=[ c for c in second_check[second_check.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in second_check[second_check.apply(lambda row: row.astype(str).str.lower().str.contains('date').any(), axis=1) ==True].index ][0]
                second_check.columns=second_check.iloc[idx]
            except:
                try:
                    idx=[ c for c in second_check[second_check.apply(lambda row: row.astype(str).str.lower().str.contains('balance').any(), axis=1) ==True].index if c in dt[dt.apply(lambda row: row.astype(str).str.lower().str.contains('particular').any(), axis=1) ==True].index ][0]
                    second_check.columns=second_check.iloc[idx]
                except:
                    print("\nAxis-Column headers missing")
            tables2 = camelot.read_pdf(f, flavor='stream', pages='all', edge_til=500)
            if len(second_check.columns) == 7:
                print("Column length is 7")
                for i in range(len(tables2)):
                    tmp=tables2[i].df
                    if (tmp.shape[1] < 5):
                        print("\nDiiferent structure on page:",i); pass
                    elif (tmp.shape[1] == 7):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    elif (tmp.shape[1] == 6):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        tmp[6] = np.nan; tmp = tmp[[0,6,1,2,3,4,5]]; tmp.columns = range(tmp.shape[1]);
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    else:
                        print("\nAnother Structure on page:",i); pass

            elif len(second_check.columns) == 8:
                print("Column length is 8")
                for i in range(len(tables2)):
                    print("\n",i,":",tmp.shape[1])
                    tmp=tables2[i].df
                    if (tmp.shape[1] < 5):
                        print("\nDiiferent structure on page:",i); pass
                    elif (tmp.shape[1] == 8):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    elif (tmp.shape[1] == 7):
                        tmp=pd.DataFrame(tmp).replace(r'^\s*$', np.nan, regex=True)
                        tmp[7] = np.nan; tmp = tmp[[0,1,2,7,3,4,5,6]]; tmp.columns = range(tmp.shape[1]);
                        dt = pd.concat([dt,tmp]).drop_duplicates(keep='first').reset_index(drop=True)
                    else:
                        print("\nAnother Structure on page:",i); pass

    else:
        print("\nLength of table is 0"); pass   
    
    return dt

f = r'C:\Users\rites\Desktop\pdf_to_excel-master\Axis_new\files\axis03.pdf'
output = came(f)
output.to_csv("output03.csv", index=0)
output

9
8

length of first_check: 9
Column length greater than 8
////////////////////////////////////////////////////////////////////////////////////////////

 9
////////////////////////////////////////////////////////////////////////////////////////////

              0           1                                                 2  \
0    Tran Date  Value Date                           Transaction Particulars
1          NaN         NaN                                 OPENING BALANCE :
2          NaN         NaN                                               NaN
3   03-12-2018  03-12-2018                 EDC/00049-00051-/M037011032984700
4          NaN         NaN                                               NaN
5          NaN         NaN                                               NaN
6   06-12-2018  06-12-2018             ECOM PUR/PTM*PAYTM/NOIDA/061218/09:18
7          NaN         NaN                                               NaN
8          NaN         NaN                                               NaN
9   07-12-2018  07-12-2018  IMPS/P2A/834111246344/50100096080290HDFC0004108/
10         NaN         NaN                                               NaN
11         NaN         NaN                                               NaN
12  07-12-2018  07-12-2018  UPI/P2A/834184872222/YBL5e634a07d3c24593ba2586b7
13         NaN         NaN                                               NaN
14         NaN         NaN                                               NaN
15  14-12-2018  14-12-2018         ECOM PUR/One97 Communi/Noida/141218/12:02
16         NaN         NaN                                               NaN
17         NaN         NaN                                               NaN
18  15-12-2018  15-12-2018                                GST @18% on Charge
19         NaN         NaN                                               NaN
20         NaN         NaN                                               NaN
21  15-12-2018  15-12-2018                      Consolidated Charges for A/c
22         NaN         NaN                                               NaN
23         NaN         NaN                                               NaN
24  18-12-2018  18-12-2018            ECOM PUR/PAYTM/1204770770/181218/12:17
25         NaN         NaN                                               NaN
26         NaN         NaN                                               NaN
27  19-12-2018  19-12-2018  IMPS/P2A/835314069033/50100096080290HDFC0004108/
28         NaN         NaN                                               NaN
29         NaN         NaN                                  BY CASH DEPOSIT-
30  20-12-2018  20-12-2018                                               NaN
31         NaN         NaN                BNA/DPRH329801/1536/201218/SOUTH D

          3         4      5         6              7
0   Chq No.    Amount  DR|CR   Balance    Branch Name
1       NaN       NaN    NaN  25184.55            NaN
2       NaN       NaN    NaN       NaN            ATM
3       NaN   5053.95     CR  30238.50  RECONCILATION
4       NaN       NaN    NaN       NaN         CENTRE
5       NaN       NaN    NaN       NaN     ZAMROODPUR
6       NaN   7853.25     DR  22385.25            NaN
7       NaN       NaN    NaN       NaN         DEL DL
8       NaN       NaN    NaN       NaN     ZAMROODPUR
9       NaN  12005.90     DR  10379.35            NaN
10      NaN       NaN    NaN       NaN         DEL DL
11      NaN       NaN    NaN       NaN     ZAMROODPUR
12      NaN   1700.00     CR  12079.35            NaN
13      NaN       NaN    NaN       NaN         DEL DL
14      NaN       NaN    NaN       NaN     ZAMROODPUR
15      NaN    480.00     DR  11599.35            NaN
16      NaN       NaN    NaN       NaN         DEL DL
17      NaN       NaN    NaN       NaN     ZAMROODPUR
18      NaN    189.00     DR  11410.35            NaN
19      NaN       NaN    NaN       NaN         DEL DL
20      NaN       NaN    NaN       NaN     ZAMROODPUR
21      NaN   1050.00     DR  10360.35            NaN
22      NaN       NaN    NaN       NaN         DEL DL
23      NaN       NaN    NaN       NaN     ZAMROODPUR
24      NaN     30.00     DR  10330.35            NaN
25      NaN       NaN    NaN       NaN         DEL DL
26      NaN       NaN    NaN       NaN     ZAMROODPUR
27      NaN   7505.90     DR   2824.45            NaN
28      NaN       NaN    NaN       NaN         DEL DL
29      NaN       NaN    NaN       NaN     ZAMROODPUR
30      NaN  24000.00     CR  26824.45            NaN
31      NaN       NaN    NaN       NaN         DEL DL
////////////////////////////////////////////////////////////////////////////////////////////

 8
////////////////////////////////////////////////////////////////////////////////////////////

c:\users\rites\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

              0           1                                                 2  \
0    Tran Date  Value Date                           Transaction Particulars
1          NaN         NaN                                 OPENING BALANCE :
2          NaN         NaN                                  BY CASH DEPOSIT-
3   20-12-2018  20-12-2018                                               NaN
4          NaN         NaN                BNA/DPRH329801/1538/201218/SOUTH D
5          NaN         NaN                                               NaN
6   20-12-2018  20-12-2018             NEFT/MB/AXMB183547203664/RANJIT DUTTA
7          NaN         NaN                                               NaN
8          NaN         NaN                                               NaN
9   20-12-2018  20-12-2018                           By Clg 000277 485 DELHI
10         NaN         NaN                                               NaN
11         NaN         NaN                                               NaN
12  24-12-2018  23-12-2018           POS/MANAV SNACKS/NEW DELHI/231218/19:49
13         NaN         NaN                                               NaN
14         NaN         NaN                                               NaN
15  24-12-2018  24-12-2018                 EDC/00052-00052-/M037011032984700
16         NaN         NaN                                               NaN
17         NaN         NaN                                               NaN
18  26-12-2018  26-12-2018         ECOM PUR/One97 Communi/Noida/261218/09:18
19         NaN         NaN                                               NaN
20         NaN         NaN                                               NaN
21  26-12-2018  26-12-2018           POS/MANAV SNACKS/NEW DELHI/261218/13:54
22         NaN         NaN                                               NaN
23         NaN         NaN                                               NaN
24  26-12-2018  26-12-2018                 ECOM PUR/PAYTM/Noida/261218/15:55
25         NaN         NaN                                               NaN
26         NaN         NaN                                               NaN
27  26-12-2018  26-12-2018           POS/MANAV SNACKS/NEW DELHI/261218/20:11
28         NaN         NaN                                               NaN
29         NaN         NaN                                               NaN
30  03-01-2019  03-01-2019                 ECOM PUR/PAYTM/Noida/030119/17:55
31         NaN         NaN                                               NaN
32         NaN         NaN                                  BY CASH DEPOSIT-
33  04-01-2019  04-01-2019                                               NaN
34         NaN         NaN                BNA/DPRH329801/4310/040119/SOUTH D
35         NaN         NaN                                  BY CASH DEPOSIT-
36  09-01-2019  09-01-2019                                               NaN
37         NaN         NaN                BNA/DPRH329801/5215/090119/SOUTH D
38         NaN         NaN                                               NaN
39  11-01-2019  11-01-2019  UPI/P2A/901136972198/PTM25263dcde63546ba8c643d4c
40         NaN         NaN                                               NaN
41         NaN         NaN                                               NaN
42  11-01-2019  11-01-2019  NEFT/SBIN319011812488/Mr RANJIT DUTTA//ATTN//INB
43         NaN         NaN                                               NaN
44         NaN         NaN                                               NaN
45  12-01-2019  12-01-2019                                GST @18% on Charge
46         NaN         NaN                                               NaN
47         NaN         NaN                                               NaN
48  12-01-2019  12-01-2019                      Consolidated Charges for A/c
49         NaN         NaN                                               NaN

          3         4      5         6              7
0   Chq No.    Amount  DR|CR   Balance    Branch Name
1       NaN       NaN    NaN  25184.55            NaN
2       NaN       NaN    NaN       NaN     ZAMROODPUR
3       NaN   4900.00     CR  31724.45            NaN
4       NaN       NaN    NaN       NaN         DEL DL
5       NaN       NaN    NaN       NaN      MAHANAGAR
6       NaN   7500.00     DR  24224.45            NaN
7       NaN       NaN    NaN       NaN        LUCKNOW
8       NaN       NaN    NaN       NaN          CCGOI
9       277  10000.00     CR  34224.45  HYDERABAD HYD
10      NaN       NaN    NaN       NaN             TG
11      NaN       NaN    NaN       NaN     ZAMROODPUR
12      NaN    205.00     DR  34019.45            NaN
13      NaN       NaN    NaN       NaN         DEL DL
14      NaN       NaN    NaN       NaN            ATM
15      NaN   2521.74     CR  36541.19  RECONCILATION
16      NaN       NaN    NaN       NaN         CENTRE
17      NaN       NaN    NaN       NaN     ZAMROODPUR
18      NaN   4330.00     DR  32211.19            NaN
19      NaN       NaN    NaN       NaN         DEL DL
20      NaN       NaN    NaN       NaN     ZAMROODPUR
21      NaN    470.00     DR  31741.19            NaN
22      NaN       NaN    NaN       NaN         DEL DL
23      NaN       NaN    NaN       NaN     ZAMROODPUR
24      NaN    881.00     DR  30860.19            NaN
25      NaN       NaN    NaN       NaN         DEL DL
26      NaN       NaN    NaN       NaN     ZAMROODPUR
27      NaN    180.00     DR  30680.19            NaN
28      NaN       NaN    NaN       NaN         DEL DL
29      NaN       NaN    NaN       NaN     ZAMROODPUR
30      NaN    300.00     DR  30380.19            NaN
31      NaN       NaN    NaN       NaN         DEL DL
32      NaN       NaN    NaN       NaN     ZAMROODPUR
33      NaN  10000.00     CR  40380.19            NaN
34      NaN       NaN    NaN       NaN         DEL DL
35      NaN       NaN    NaN       NaN     ZAMROODPUR
36      NaN   4500.00     CR  44880.19            NaN
37      NaN       NaN    NaN       NaN         DEL DL
38      NaN       NaN    NaN       NaN     ZAMROODPUR
39      NaN      1.00     CR  44881.19            NaN
40      NaN       NaN    NaN       NaN         DEL DL
41      NaN       NaN    NaN       NaN   DATA CENTRE-
42      NaN   3500.00     CR  48381.19            NaN
43      NaN       NaN    NaN       NaN        CHEMBUR
44      NaN       NaN    NaN       NaN     ZAMROODPUR
45      NaN      9.00     DR  48372.19            NaN
46      NaN       NaN    NaN       NaN         DEL DL
47      NaN       NaN    NaN       NaN     ZAMROODPUR
48      NaN     50.00     DR  48322.19            NaN
49      NaN       NaN    NaN       NaN         DEL DL
////////////////////////////////////////////////////////////////////////////////////////////

 6
////////////////////////////////////////////////////////////////////////////////////////////

              0           1                                                 2  \
0          NaN         NaN                                               NaN
1   14-01-2019  14-01-2019                 EDC/00053-00053-/M037011032984700
2          NaN         NaN                                               NaN
3          NaN         NaN                                               NaN
4   14-01-2019  14-01-2019  IMPS/P2A/901412924696/919971624523/INETIMPS00073
5          NaN         NaN                                               NaN
6          NaN         NaN                                               NaN
7   14-01-2019  14-01-2019  IMPS/P2A/901412927199/919971624523/MOBUA01304940
8          NaN         NaN                                               NaN
9          NaN         NaN                                               NaN
10  14-01-2019  14-01-2019   IMPS/P2A/901412321960/0831010104411UTBI0MBZC45/
11         NaN         NaN                                               NaN
12         NaN         NaN                                               NaN
13  15-01-2019  15-01-2019                 ECOM PUR/PAYTM/Noida/150119/10:25
14         NaN         NaN                                               NaN
15         NaN         NaN                                  BY CASH DEPOSIT-
16  17-01-2019  17-01-2019                                               NaN
17         NaN         NaN                BNA/DPRH329801/6971/170119/SOUTH D
18         NaN         NaN                                               NaN
19  17-01-2019  17-01-2019     IMPS/P2A/901713217651/62246765390SBIN0001078/
20         NaN         NaN                                               NaN
21         NaN         NaN                                               NaN
22  21-01-2019  21-01-2019                 EDC/00054-00054-/M037011032984700
23         NaN         NaN                                               NaN
24         NaN         NaN                                               NaN
25  22-01-2019  22-01-2019                 EDC/00055-00055-/M037011032984700
26         NaN         NaN                                               NaN
27         NaN         NaN                                               NaN
28  22-01-2019  22-01-2019            ECOM PUR/PAYTM/1204770770/220119/13:26
29         NaN         NaN                                               NaN
30         NaN         NaN                                  BY CASH DEPOSIT-
31  23-01-2019  23-01-2019                                               NaN
32         NaN         NaN                BNA/DPRH329801/8113/230119/SOUTH D
33         NaN         NaN                                  BY CASH DEPOSIT-
34  23-01-2019  23-01-2019                                               NaN
35         NaN         NaN                BNA/DPRH329801/8115/230119/SOUTH D
36         NaN         NaN                                               NaN
37  24-01-2019  24-01-2019             ECOM PUR/PTM*PAYTM/NOIDA/240119/17:50
38         NaN         NaN                                               NaN
39         NaN         NaN                                               NaN
40  28-01-2019  28-01-2019                 EDC/00056-00056-/M037011032984700
41         NaN         NaN                                               NaN
42         NaN         NaN                                  BY CASH DEPOSIT-
43  28-01-2019  28-01-2019                                               NaN
44         NaN         NaN                BNA/DPRH329801/8913/280119/SOUTH D

     3         4    5         6              7
0  NaN       NaN  NaN       NaN            ATM
1  NaN   1001.90   CR  49324.09  RECONCILATION
2  NaN       NaN  NaN       NaN         CENTRE
3  NaN       NaN  NaN       NaN     ZAMROODPUR
4  NaN    497.00   CR  49821.09            NaN
5  NaN       NaN  NaN       NaN         DEL DL
6  NaN       NaN  NaN       NaN     ZAMROODPUR
7  NaN    400.00   CR  50221.09            NaN
8  NaN       NaN  NaN       NaN         DEL DL
9  NaN       NaN  NaN       NaN     ZAMROODPUR
10 NaN  50005.90   DR    215.19            NaN
11 NaN       NaN  NaN       NaN         DEL DL
12 NaN       NaN  NaN       NaN     ZAMROODPUR
13 NaN    150.00   DR     65.19            NaN
14 NaN       NaN  NaN       NaN         DEL DL
15 NaN       NaN  NaN       NaN     ZAMROODPUR
16 NaN   1000.00   CR   1065.19            NaN
17 NaN       NaN  NaN       NaN         DEL DL
18 NaN       NaN  NaN       NaN     ZAMROODPUR
19 NaN   1002.95   DR     62.24            NaN
20 NaN       NaN  NaN       NaN         DEL DL
21 NaN       NaN  NaN       NaN            ATM
22 NaN   2403.49   CR   2465.73  RECONCILATION
23 NaN       NaN  NaN       NaN         CENTRE
24 NaN       NaN  NaN       NaN            ATM
25 NaN   1426.82   CR   3892.55  RECONCILATION
26 NaN       NaN  NaN       NaN         CENTRE
27 NaN       NaN  NaN       NaN     ZAMROODPUR
28 NaN    400.00   DR   3492.55            NaN
29 NaN       NaN  NaN       NaN         DEL DL
30 NaN       NaN  NaN       NaN     ZAMROODPUR
31 NaN  24500.00   CR  27992.55            NaN
32 NaN       NaN  NaN       NaN         DEL DL
33 NaN       NaN  NaN       NaN     ZAMROODPUR
34 NaN    500.00   CR  28492.55            NaN
35 NaN       NaN  NaN       NaN         DEL DL
36 NaN       NaN  NaN       NaN     ZAMROODPUR
37 NaN   7000.00   DR  21492.55            NaN
38 NaN       NaN  NaN       NaN         DEL DL
39 NaN       NaN  NaN       NaN            ATM
40 NaN   1957.98   CR  23450.53  RECONCILATION
41 NaN       NaN  NaN       NaN         CENTRE
42 NaN       NaN  NaN       NaN     ZAMROODPUR
43 NaN  11500.00   CR  34950.53            NaN

44 NaN       NaN  NaN       NaN         DEL DL
////////////////////////////////////////////////////////////////////////////////////////////

 8
////////////////////////////////////////////////////////////////////////////////////////////

              0           1                                                 2  \
0    Tran Date  Value Date                           Transaction Particulars
1          NaN         NaN                                 OPENING BALANCE :
2          NaN         NaN                                  BY CASH DEPOSIT-
3   28-01-2019  28-01-2019                                               NaN
4          NaN         NaN                BNA/DPRH329801/8915/280119/SOUTH D
5          NaN         NaN                                               NaN
6   28-01-2019  28-01-2019           MOB/SELFFT/RANJIT DUTTA/918010003842859
7          NaN         NaN                                               NaN
8          NaN         NaN                                               NaN
9   28-01-2019  28-01-2019           MOB/SELFFT/RANJIT DUTTA/917010082670968
10         NaN         NaN                                               NaN
11         NaN         NaN                                               NaN
12  29-01-2019  29-01-2019                 EDC/00057-00057-/M037011032984700
13         NaN         NaN                                               NaN
14         NaN         NaN                                               NaN
15  29-01-2019  29-01-2019            ECOM PUR/PAYTM/1204770770/290119/09:35
16         NaN         NaN                                               NaN
17         NaN         NaN                                               NaN
18  29-01-2019  29-01-2019     ECOM PUR/Amazon Seller/Bangalore/290119/15:18
19         NaN         NaN                                               NaN
20  30-01-2019  30-01-2019              NEFT/MB/AXMB190300233679/CLARA TOPPO
21  30-01-2019  30-01-2019                           By Clg 000094 240 DELHI
22         NaN         NaN                                               NaN
23  31-01-2019  31-01-2019       MOB/C34GPI054497/Airtel Delhi NCR Delhi NCR
24         NaN         NaN                                               NaN
25         NaN         NaN                                               NaN
26  04-02-2019  03-02-2019             ECOM PUR/PTM*PAYTM/NOIDA/030219/11:29
27         NaN         NaN                                               NaN
28         NaN         NaN                                               NaN
29  04-02-2019  04-02-2019                 ECOM PUR/PAYTM/Noida/040219/12:18
30         NaN         NaN                                               NaN
31         NaN         NaN                                               NaN
32  07-02-2019  07-02-2019  UPI/P2A/903860182209/YBL2e42360feff34c59a1a2a800
33         NaN         NaN                                               NaN
34         NaN         NaN                                               NaN
35  09-02-2019  09-02-2019            ATM-CASH/KAILASH COLONY/KALKAJI/090219
36         NaN         NaN                                               NaN
37         NaN         NaN                                               NaN
38  11-02-2019  11-02-2019                 EDC/00058-00058-/M037011032984700
39         NaN         NaN                                               NaN
40         NaN         NaN                                               NaN
41  13-02-2019  13-02-2019           MOB/SELFFT/RANJIT DUTTA/917010082670968
42         NaN         NaN                                               NaN
43         NaN         NaN                                               NaN
44  13-02-2019  13-02-2019                    ATM-CASH/+BOB/NEW DELHI/130219
45         NaN         NaN                                               NaN
46  13-02-2019  13-02-2019              ATM-CASH/+SADDAR BAZAAR/DELHI/130219

          3         4      5         6                7
0   Chq No.    Amount  DR|CR   Balance      Branch Name
1       NaN       NaN    NaN  25184.55              NaN
2       NaN       NaN    NaN       NaN       ZAMROODPUR
3       NaN    500.00     CR  35450.53              NaN
4       NaN       NaN    NaN       NaN           DEL DL
5       NaN       NaN    NaN       NaN       ZAMROODPUR
6       NaN   1000.00     DR  34450.53              NaN
7       NaN       NaN    NaN       NaN           DEL DL
8       NaN       NaN    NaN       NaN       ZAMROODPUR
9       NaN  20000.00     DR  14450.53              NaN
10      NaN       NaN    NaN       NaN           DEL DL
11      NaN       NaN    NaN       NaN              ATM
12      NaN    651.87     CR  15102.40    RECONCILATION
13      NaN       NaN    NaN       NaN           CENTRE
14      NaN       NaN    NaN       NaN       ZAMROODPUR
15      NaN    100.00     DR  15002.40              NaN
16      NaN       NaN    NaN       NaN           DEL DL
17      NaN       NaN    NaN       NaN       ZAMROODPUR
18      NaN   4130.00     DR  10872.40              NaN
19      NaN       NaN    NaN       NaN           DEL DL
20      NaN      1.00     DR  10871.40  JAMSHEDPUR [JH]
21       94  19000.00     CR  29871.40    CCGO NORTH MH
22      NaN       NaN    NaN       NaN       ZAMROODPUR
23      NaN    489.00     DR  29382.40              NaN
24      NaN       NaN    NaN       NaN           DEL DL
25      NaN       NaN    NaN       NaN       ZAMROODPUR
26      NaN     91.00     DR  29291.40              NaN
27      NaN       NaN    NaN       NaN           DEL DL
28      NaN       NaN    NaN       NaN       ZAMROODPUR
29      NaN    179.87     DR  29111.53              NaN
30      NaN       NaN    NaN       NaN           DEL DL
31      NaN       NaN    NaN       NaN       ZAMROODPUR
32      NaN   1160.00     CR  30271.53              NaN
33      NaN       NaN    NaN       NaN           DEL DL
34      NaN       NaN    NaN       NaN       ZAMROODPUR
35      NaN   2000.00     DR  28271.53              NaN
36      NaN       NaN    NaN       NaN           DEL DL
37      NaN       NaN    NaN       NaN              ATM
38      NaN    194.40     CR  28465.93    RECONCILATION
39      NaN       NaN    NaN       NaN           CENTRE
40      NaN       NaN    NaN       NaN       ZAMROODPUR
41      NaN   8166.00     DR  20299.93              NaN
42      NaN       NaN    NaN       NaN           DEL DL
43      NaN       NaN    NaN       NaN       ZAMROODPUR
44      NaN    500.00     DR  19799.93              NaN
45      NaN       NaN    NaN       NaN           DEL DL
46      NaN    800.00     DR  18999.93       ZAMROODPUR
////////////////////////////////////////////////////////////////////////////////////////////

 8
////////////////////////////////////////////////////////////////////////////////////////////

              0           1                                          2  \
0    Tran Date  Value Date                    Transaction Particulars
1          NaN         NaN                          OPENING BALANCE :
2          NaN         NaN                                        NaN
3          NaN         NaN                                        NaN
4   14-02-2019  14-02-2019     ECOM PUR/PAYTM/1204770770/140219/20:53
5          NaN         NaN                                        NaN
6          NaN         NaN                                        NaN
7   16-02-2019  16-02-2019          EDC/00059-00060-/M037011032984700
8          NaN         NaN                                        NaN
9          NaN         NaN                                        NaN
10  16-02-2019  16-02-2019                         GST @18% on Charge
11         NaN         NaN                                        NaN
12         NaN         NaN                                        NaN
13  16-02-2019  16-02-2019               Consolidated Charges for A/c
14         NaN         NaN                                        NaN
15         NaN         NaN                                        NaN
16  19-02-2019  19-02-2019  ECOM PUR/ONE97 COMMUNI/NOIDA/190219/20:14
17         NaN         NaN                                        NaN
18         NaN         NaN                                        NaN
19  25-02-2019  25-02-2019          EDC/00061-00061-/M037011032984700
20         NaN         NaN                                        NaN
21         NaN         NaN                                        NaN
22  25-02-2019  25-02-2019      ECOM PUR/PTM*PAYTM/NOIDA/250219/11:37
23         NaN         NaN                                        NaN
24         NaN         NaN                                        NaN
25  27-02-2019  27-02-2019          EDC/00062-00062-/M037011032984700
26         NaN         NaN                                        NaN
27         NaN         NaN                           BY CASH DEPOSIT-
28  27-02-2019  27-02-2019                                        NaN
29         NaN         NaN         BNA/DPRH329801/5368/270219/SOUTH D
30         NaN         NaN                                        NaN
31  27-02-2019  27-02-2019       NEFT/MB/AXMB190589836488/CLARA TOPPO
32         NaN         NaN                                        NaN
33         NaN         NaN          ATM-CASH/+KAILASH COLONY BR/SOUTH
34  27-02-2019  27-02-2019                                        NaN
35         NaN         NaN                               DELHI/270219
36         NaN         NaN                                        NaN
37  02-03-2019  02-03-2019     ECOM PUR/PAYTM/1204770770/020319/19:39
38         NaN         NaN                                        NaN
39  04-03-2019  04-03-2019       BRN-CLG-CHQ PAID TO ABHI WATER POINT
40  04-03-2019  04-03-2019                    By Clg 000306 485 DELHI
41         NaN         NaN                                        NaN
42  07-03-2019  07-03-2019     ECOM PUR/PAYTM/1204770770/070319/18:13
43         NaN         NaN                                        NaN
44  08-03-2019  08-03-2019    MOB/SELFFT/RANJIT DUTTA/917010082670968

          3         4      5         6              7
0   Chq No.    Amount  DR|CR   Balance    Branch Name
1       NaN       NaN    NaN  25184.55            NaN
2       NaN       NaN    NaN       NaN         DEL DL
3       NaN       NaN    NaN       NaN     ZAMROODPUR
4       NaN    203.00     DR  18796.93            NaN
5       NaN       NaN    NaN       NaN         DEL DL
6       NaN       NaN    NaN       NaN            ATM
7       NaN  10795.73     CR  29592.66  RECONCILATION
8       NaN       NaN    NaN       NaN         CENTRE
9       NaN       NaN    NaN       NaN     ZAMROODPUR
10      NaN      9.00     DR  29583.66            NaN
11      NaN       NaN    NaN       NaN         DEL DL
12      NaN       NaN    NaN       NaN     ZAMROODPUR
13      NaN     50.00     DR  29533.66            NaN
14      NaN       NaN    NaN       NaN         DEL DL
15      NaN       NaN    NaN       NaN     ZAMROODPUR
16      NaN    250.00     DR  29283.66            NaN
17      NaN       NaN    NaN       NaN         DEL DL
18      NaN       NaN    NaN       NaN            ATM
19      NaN   1426.82     CR  30710.48  RECONCILATION
20      NaN       NaN    NaN       NaN         CENTRE
21      NaN       NaN    NaN       NaN     ZAMROODPUR
22      NaN   3880.00     DR  26830.48            NaN
23      NaN       NaN    NaN       NaN         DEL DL
24      NaN       NaN    NaN       NaN            ATM
25      NaN   1681.82     CR  28512.30  RECONCILATION
26      NaN       NaN    NaN       NaN         CENTRE
27      NaN       NaN    NaN       NaN     ZAMROODPUR
28      NaN  16000.00     CR  44512.30            NaN
29      NaN       NaN    NaN       NaN         DEL DL
30      NaN       NaN    NaN       NaN  GORABAZAR KOL
31      NaN  25000.00     DR  19512.30            NaN
32      NaN       NaN    NaN       NaN             WB
33      NaN       NaN    NaN       NaN     ZAMROODPUR
34      NaN    500.00     DR  19012.30            NaN
35      NaN       NaN    NaN       NaN         DEL DL
36      NaN       NaN    NaN       NaN     ZAMROODPUR
37      NaN     40.00     DR  18972.30            NaN
38      NaN       NaN    NaN       NaN         DEL DL
39     8191    420.00     DR  18552.30  CCGO NORTH MH
40      306  10000.00     CR  28552.30  CCGO NORTH MH
41      NaN       NaN    NaN       NaN     ZAMROODPUR
42      NaN    400.00     DR  28152.30            NaN
43      NaN       NaN    NaN       NaN         DEL DL
44      NaN   8100.00     DR  20052.30     ZAMROODPUR
////////////////////////////////////////////////////////////////////////////////////////////

 8
////////////////////////////////////////////////////////////////////////////////////////////

              0           1                                          2    3  \
0          NaN         NaN                                        NaN  NaN
1          NaN         NaN          ATM-CASH/+KAILASH COLONY BR/SOUTH  NaN
2   09-03-2019  09-03-2019                                        NaN  NaN
3          NaN         NaN                               DELHI/090319  NaN
4          NaN         NaN          ATM-CASH/+KAILASH COLONY BR/SOUTH  NaN
5   09-03-2019  09-03-2019                                        NaN  NaN
6          NaN         NaN                               DELHI/090319  NaN
7          NaN         NaN                                        NaN  NaN
8   09-03-2019  09-03-2019    MOB/SELFFT/RANJIT DUTTA/917010082670968  NaN
9          NaN         NaN                                        NaN  NaN
10  13-03-2019  13-03-2019                    By Clg 000459 240 DELHI  459
11         NaN         NaN                                        NaN  NaN
12  14-03-2019  14-03-2019  ECOM PUR/One97 Communi/Noida/140319/14:00  NaN
13         NaN         NaN                                        NaN  NaN
14         NaN         NaN                                        NaN  NaN
15  14-03-2019  14-03-2019  ECOM PUR/One97 Communi/Noida/140319/14:06  NaN
16         NaN         NaN                                        NaN  NaN
17         NaN         NaN                                        NaN  NaN
18  16-03-2019  16-03-2019                         GST @18% on Charge  NaN
19         NaN         NaN                                        NaN  NaN
20         NaN         NaN                                        NaN  NaN
21  16-03-2019  16-03-2019               Consolidated Charges for A/c  NaN
22         NaN         NaN                                        NaN  NaN

           4    5         6              7
0        NaN  NaN       NaN         DEL DL
1        NaN  NaN       NaN     ZAMROODPUR
2   10000.00   DR  10052.30            NaN
3        NaN  NaN       NaN         DEL DL
4        NaN  NaN       NaN     ZAMROODPUR
5     200.00   DR   9852.30            NaN
6        NaN  NaN       NaN         DEL DL
7        NaN  NaN       NaN     ZAMROODPUR
8    1800.00   DR   8052.30            NaN
9        NaN  NaN       NaN         DEL DL
10  13860.00   CR  21912.30  CCGO NORTH MH
11       NaN  NaN       NaN     ZAMROODPUR
12    300.00   DR  21612.30            NaN
13       NaN  NaN       NaN         DEL DL
14       NaN  NaN       NaN     ZAMROODPUR
15    100.00   DR  21512.30            NaN
16       NaN  NaN       NaN         DEL DL
17       NaN  NaN       NaN     ZAMROODPUR
18     23.40   DR  21488.90            NaN
19       NaN  NaN       NaN         DEL DL
20       NaN  NaN       NaN     ZAMROODPUR
21    130.00   DR  21358.90            NaN
22       NaN  NaN       NaN         DEL DL
////////////////////////////////////////////////////////////////////////////////////////////

 8
////////////////////////////////////////////////////////////////////////////////////////////

              0           1                                                 2  \
0          NaN         NaN                                 OPENING BALANCE :
1          NaN         NaN                                               NaN
2   22-04-2019  22-04-2019                BRN-CLG-CHQ PAID TO ABHIWATERPOINT
3          NaN         NaN                                               NaN
4   08-05-2019  08-05-2019             NEFT/MB/AXMB191285195349/RANJIT DUTTA
5          NaN         NaN                                               NaN
6          NaN         NaN                                               NaN
7   11-05-2019  11-05-2019                                GST @18% on Charge
8          NaN         NaN                                               NaN
9          NaN         NaN                                               NaN
10  11-05-2019  11-05-2019                      Consolidated Charges for A/c
11         NaN         NaN                                               NaN
12         NaN         NaN                                               NaN
13  13-05-2019  13-05-2019          POS/TANEJA COMPLETE H/DELHI/130519/13:15
14         NaN         NaN                                               NaN
15         NaN         NaN                                               NaN
16  14-05-2019  14-05-2019  IMPS/P2A/913411213665/345701000003749IOBA0003457
17         NaN         NaN                                               NaN
18         NaN         NaN                                  BY CASH DEPOSIT-
19  16-05-2019  16-05-2019                                               NaN
20         NaN         NaN                BNA/DPRH329801/9910/160519/SOUTH D
21         NaN         NaN                                               NaN
22  16-05-2019  16-05-2019           MOB/SELFFT/RANJIT DUTTA/917010082670968
23         NaN         NaN                                               NaN
24  16-05-2019  16-05-2019             NEFT/MB/AXMB191368693695/RANJIT DUTTA
25         NaN         NaN                                               NaN
26  16-05-2019  16-05-2019           MOB/SELFFT/RANJIT DUTTA/918010003842859
27         NaN         NaN                                               NaN
28  29-05-2019  29-05-2019                           By Clg 000472 240 DELHI
29         NaN         NaN                                               NaN
30  06-06-2019  06-06-2019  IMPS/P2A/915710322610/50100096080290HDFC0004108/
31         NaN         NaN                                               NaN
32         NaN         NaN                                  BY CASH DEPOSIT-
33  13-06-2019  13-06-2019                                               NaN
34         NaN         NaN                BNA/DPRH329801/4504/130619/SOUTH D

       3         4    5         6              7
0    NaN       NaN  NaN  25184.55            NaN
1    NaN       NaN  NaN       NaN         CENTRE
2   8193   1330.00   DR  15972.78  CCGO NORTH MH
3    NaN       NaN  NaN       NaN   DLF, GURGAON
4    NaN   3700.00   DR  12272.78            NaN
5    NaN       NaN  NaN       NaN           [HR]
6    NaN       NaN  NaN       NaN     ZAMROODPUR
7    NaN      9.00   DR  12263.78            NaN
8    NaN       NaN  NaN       NaN         DEL DL
9    NaN       NaN  NaN       NaN     ZAMROODPUR
10   NaN     50.00   DR  12213.78            NaN
11   NaN       NaN  NaN       NaN         DEL DL
12   NaN       NaN  NaN       NaN     ZAMROODPUR
13   NaN    308.00   DR  11905.78            NaN
14   NaN       NaN  NaN       NaN         DEL DL
15   NaN       NaN  NaN       NaN     ZAMROODPUR
16   NaN  10005.90   DR   1899.88            NaN
17   NaN       NaN  NaN       NaN         DEL DL
18   NaN       NaN  NaN       NaN     ZAMROODPUR
19   NaN  31000.00   CR  32899.88            NaN
20   NaN       NaN  NaN       NaN         DEL DL
21   NaN       NaN  NaN       NaN     ZAMROODPUR
22   NaN   5000.00   DR  27899.88            NaN
23   NaN       NaN  NaN       NaN         DEL DL
24   NaN  10000.00   DR  17899.88   PALWANCHA TG
25   NaN       NaN  NaN       NaN     ZAMROODPUR
26   NaN   5000.00   DR  12899.88            NaN
27   NaN       NaN  NaN       NaN         DEL DL
28   472   8400.00   CR  21299.88  CCGO NORTH MH

              0           1                                              2  \
0    Tran Date  Value Date                        Transaction Particulars
1          NaN         NaN                              OPENING BALANCE :
2          NaN         NaN                                            NaN
3   22-10-2019  22-10-2019          ECOM PUR/PTM*PAYTM/NOIDA/221019/13:47
4          NaN         NaN                                            NaN
5          NaN         NaN                                            NaN
6   24-10-2019  24-10-2019        Dr Card Charges ANNUAL 5223XXXXXXXX6601
7          NaN         NaN                                            NaN
8          NaN         NaN                                            NaN
9   24-10-2019  24-10-2019      ECOM PUR/One97 Communi/Noida/241019/20:51
10         NaN         NaN                                            NaN
11         NaN         NaN                                            NaN
12  28-10-2019  28-10-2019        MOB/SELFFT/RANJIT DUTTA/917010082670968
13         NaN         NaN                                            NaN
14         NaN         NaN                                            NaN
15  28-10-2019  28-10-2019        MOB/SELFFT/RANJIT DUTTA/918010003842859
16         NaN         NaN                                            NaN
17         NaN         NaN                                            NaN
18  28-10-2019  28-10-2019  IMPS/P2A/930113384128/RANJIT/STATEBA/X035769/
19         NaN         NaN                                            NaN
20         NaN         NaN                               BY CASH DEPOSIT-
21  02-11-2019  02-11-2019                                            NaN
22         NaN         NaN             BNA/DPRH329801/1057/021119/SOUTH D
23  05-11-2019  05-11-2019                        By Clg 000383 485 DELHI
24         NaN         NaN                                            NaN
25  05-11-2019  05-11-2019      POS/ARORA CREATION/NEW DELHI/051119/20:12
26         NaN         NaN                                            NaN
27         NaN         NaN                                            NaN
28  07-11-2019  07-11-2019      ECOM PUR/One97 Communi/Noida/071119/20:58
29         NaN         NaN                                            NaN
30         NaN         NaN                                            NaN
31  08-11-2019  08-11-2019  IMPS/P2A/931208708274/RANJIT/HDFCBAN/X080290/
32         NaN         NaN                                            NaN
33         NaN         NaN                                            NaN
34  09-11-2019  09-11-2019                             GST @18% on Charge
35         NaN         NaN                                            NaN
36         NaN         NaN                                            NaN
37  09-11-2019  09-11-2019                   Consolidated Charges for A/c
38         NaN         NaN                                            NaN
39         NaN         NaN                                            NaN
40  10-11-2019  10-11-2019      ECOM PUR/One97 Communi/Noida/101119/19:04
41         NaN         NaN                                            NaN
42         NaN         NaN                                            NaN
43  15-11-2019  15-11-2019  IMPS/P2A/931916091620/RANJIT/HDFCBAN/X080290/
44         NaN         NaN                                            NaN
45  16-11-2019  16-11-2019    NEFT/N320190983426385/INDU BHARGAVA/Payment
46         NaN         NaN                                            NaN
47  20-11-2019  20-11-2019      ECOM PUR/One97 Communi/Noida/201119/15:01
48         NaN         NaN                                            NaN
49  20-11-2019  20-11-2019                          19376685-MMC NOV 2019

          3         4      5         6              7
0   Chq No.    Amount  DR|CR   Balance    Branch Name
1       NaN       NaN    NaN  25184.55            NaN
2       NaN       NaN    NaN       NaN     ZAMROODPUR
3       NaN   5970.00     DR  10753.03            NaN
4       NaN       NaN    NaN       NaN         DEL DL
5       NaN       NaN    NaN       NaN   DATA CENTRE-
6       NaN    295.00     DR  10458.03            NaN
7       NaN       NaN    NaN       NaN        CHEMBUR
8       NaN       NaN    NaN       NaN     ZAMROODPUR
9       NaN     85.75     DR  10372.28            NaN
10      NaN       NaN    NaN       NaN         DEL DL
11      NaN       NaN    NaN       NaN     ZAMROODPUR
12      NaN   3200.00     CR  13572.28            NaN
13      NaN       NaN    NaN       NaN         DEL DL
14      NaN       NaN    NaN       NaN     ZAMROODPUR
15      NaN   3000.00     CR  16572.28            NaN
16      NaN       NaN    NaN       NaN         DEL DL
17      NaN       NaN    NaN       NaN     ZAMROODPUR
18      NaN  16005.90     DR    566.38            NaN
19      NaN       NaN    NaN       NaN         DEL DL
20      NaN       NaN    NaN       NaN     ZAMROODPUR
21      NaN  10000.00     CR  10566.38            NaN
22      NaN       NaN    NaN       NaN         DEL DL
23      383  10000.00     CR  20566.38  CCGO NORTH MH
24      NaN       NaN    NaN       NaN     ZAMROODPUR
25      NaN   1525.00     DR  19041.38            NaN
26      NaN       NaN    NaN       NaN         DEL DL
27      NaN       NaN    NaN       NaN     ZAMROODPUR
28      NaN    713.44     DR  18327.94            NaN
29      NaN       NaN    NaN       NaN         DEL DL
30      NaN       NaN    NaN       NaN     ZAMROODPUR
31      NaN  12005.90     DR   6322.04            NaN
32      NaN       NaN    NaN       NaN         DEL DL
33      NaN       NaN    NaN       NaN     ZAMROODPUR
34      NaN    189.00     DR   6133.04            NaN
35      NaN       NaN    NaN       NaN         DEL DL
36      NaN       NaN    NaN       NaN     ZAMROODPUR
37      NaN   1050.00     DR   5083.04            NaN
38      NaN       NaN    NaN       NaN         DEL DL
39      NaN       NaN    NaN       NaN     ZAMROODPUR
40      NaN    334.98     DR   4748.06            NaN
41      NaN       NaN    NaN       NaN         DEL DL
42      NaN       NaN    NaN       NaN     ZAMROODPUR
43      NaN    202.95     DR   4545.11            NaN
44      NaN       NaN    NaN       NaN         DEL DL
45      NaN   3300.00     CR   7845.11       RTGS HUB
46      NaN       NaN    NaN       NaN     ZAMROODPUR
47      NaN     60.00     DR   7785.11            NaN
48      NaN       NaN    NaN       NaN         DEL DL
49      NaN     81.42     DR   7703.69            ATM
////////////////////////////////////////////////////////////////////////////////////////////

 4
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////

 4
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////

 4
////////////////////////////////////////////////////////////////////////////////////////////

,0,1,2,3,4,5,6,7
0,Tran Date,Value Date,Transaction Particulars,Chq No.,Amount,DR|CR,Balance,Branch Name
1,NaN,NaN,OPENING BALANCE :,NaN,NaN,NaN,25184.55,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ATM
3,03-12-2018,03-12-2018,EDC/00049-00051-/M037011032984700,NaN,5053.95,CR,30238.50,RECONCILATION
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CENTRE
...,...,...,...,...,...,...,...,...
45,16-11-2019,16-11-2019,NEFT/N320190983426385/INDU BHARGAVA/Payment,NaN,3300.00,CR,7845.11,RTGS HUB
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZAMROODPUR
47,20-11-2019,20-11-2019,ECOM PUR/One97 Communi/Noida/201119/15:01,NaN,60.00,DR,7785.11,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEL DL
49,20-11-2019,20-11-2019,19376685-MMC NOV 2019,NaN,81.42,DR,7703.69,ATM

In [147]:
f = r'C:\Users\MudraCircle\Desktop\bks_raw\Parsing_testing\Axis\files\axis02.pdf'
tables = camelot.read_pdf(f, flavor='stream', pages='all', edge_til=500)
if len(tables) != 0:
    df=pd.DataFrame(); tmp=pd.DataFrame();
    first_check = tables[0].df; second_check = tables[1].df;

    if (first_check.shape[1] < 5):
        print("first_check")

    elif(second_check.shape[1] > 5):
        print("second_check")

second_check

In [148]:
tables

In [144]:
tables[8].df

,0,1,2,3,4,5,6
0,01-02-2018,01-02-2018,IMPS/P2A/803208798380/194602000000357IOBA0001946,200017.70,DR,2305171.63,"POWAI, MUMBAI [MH]"
1,01-02-2018,01-02-2018,IMPS/P2A/803208798705/194602000000197IOBA0001946,200017.70,DR,2105153.93,"POWAI, MUMBAI [MH]"
2,01-02-2018,01-02-2018,IMPS/P2A/803208888541/919768667157/to aaditya c,200000.00,CR,2305153.93,"POWAI, MUMBAI [MH]"
3,01-02-2018,01-02-2018,IMPS/P2A/803208800533/194602000000197IOBA0001946,165017.70,DR,2140136.23,"POWAI, MUMBAI [MH]"
4,01-02-2018,01-02-2018,IMPS/P2A/803208800774/194602000000357IOBA0001946,135017.70,DR,2005118.53,"POWAI, MUMBAI [MH]"
...,...,...,...,...,...,...,...
57,,,,,,,CENTRALISED CTS MUM
58,08-02-2018,08-02-2018,NACH-DR- INTELLECASH MICROFIN,102083.00,DR,1467036.01,MH
59,08-02-2018,08-02-2018,IMPS/P2A/803914490628/910000000000/aaditya,72000.00,CR,1539036.01,"POWAI, MUMBAI [MH]"
60,,,,,,,CENTRALISED COLL &
61,08-02-2018,08-02-2018,AADRI INFIN LIM/,22336.44,CR,1561372.45,PYMNT HUB